<div ng-controller="StarmapUiController as uiController">
    <div class="nbt-upper-right ui-content ui-interactive">
        <img class="nbt-pseudo-button" src="/images/refresh-32.png" alt="Reload Starmap" ng-click="onReloadStarmap()"/>
    </div>
    <div class="ui-content ui-interactive">
        <div><a href="#" data-toggle="collapse" data-target="#tools">Map Tools</a></div>
        <div id="tools" class="collapse map-tools">
            <datalist id="ui-planet-search-data">
                <option ng-repeat="planet in planetNames" data-planet-position="{{planet.position}}" value="{{planet.name}}">{{planet.owner}}</option>
            </datalist>
            <div class="ui-contentItem">
                <input id="ui-planet-search" list="ui-planet-search-data" ng-model="searchText" type="search" autocomplete="on" placeholder="Find a planet...">
                <input type="button" ng-click="onFindPlanet()" value="Find">
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showCapitalPlanets">Capital Planets
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showChargeStations">Charge Stations
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showFactories">Factories
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showBattles">Battles
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showJumpships">Jumpships
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showDropships">Dropships
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showCombatUnits">Combat Units
            </div>
            <br>
            <div class="ui-contentItem">
                <input type="checkbox" ng-model="$parent.showSectorBounds">Sector Boundaries
            </div>

            <div ng-show="showAdminTools()" class="nbt-highlight">
                <div class="ui-contentItem nbt-para">
                    <input type="checkbox" ng-model="$parent.editMode">Edit Map
                </div>

                <div class="ui-contentItem nbt-para" ng-show="$parent.selectedPlanets.length > 0">
                    <div>{{$parent.selectedPlanets.length}} Planet(s) Selected</div>
                    <div>
                        Sector:
                        <button type="button" class="btn btn-primary btn-xs" ng-click="onCreateSector()">Create</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="onEditSector()">Edit</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="onDeleteSector()">Delete</button>
                        Capital:&nbsp;<select ng-model="selectedSectorCapital">
                            <option ng-repeat="planet in $parent.selectedPlanets" value="{{planet.id}}">{{planet.name}}</option>
                        </select>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="onChangeOwner()">Transfer Selected To: </button>
                        &nbsp;<select ng-model="selectedOwner">
                        <option ng-repeat="faction in factions" value="{{faction}}">{{faction.name}}</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
