body {
	background-color: black;
	color: #f0f0f0;
	font-family: arial,verdana;
	font-size: smaller;
}

input[type=text] {
	background-color: black;
	color: #f06060;
	border-color: #c04040;
}

input[type=password] {
	background-color: black;
	color: #f06060;
	border-color: #c04040;
}

input[type=button] {
	background-color: black;
	color: #f06060;
	border-color: #c06060;
}

.left_side {
	display: inline-block;
	vertical-align: top;
}

.content_area {
	display: inline-block;
	width: 90%;
	margin-left: 20px;
	margin-top: 20px;
}

.editable_data_table {
	border-style: solid;
	border-width: 1px;
	border-color: #660000;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 90%;
	color: white;
}

.editable_data_table th {
	border-style: solid;
	border-collapse: collapse;
	text-align: left;
	border-width: 1px;
	border-color: #660000;
	background-color: #990000;
}

th.sortable {
	color: yellow;
	cursor: pointer;
}

.centered {
	text-align: center;
	vertical-align: middle;
}

.editable_data_table td {
	border-style: solid;
	text-align: left;
	border-width: 1px;
	border-color: #660000;
}

.editable_data_table tr:hover {
	background-color: #404040;
	cursor: pointer;
}

.editable_data_table tr.no_select {
	background-color: #000000;
	cursor: auto;
}

.noselect {
	cursor: auto;
	background-color: black;
}

.no_select {
	cursor: auto;
	background-color: black;
}

.linkbutton {
	color: yellow;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
}

.linkbutton:hover {
	color: white;
}

.dark_header {
	background-color: #003333;
	color: #ffff99;
	font-weight: bold;
	font-size: x-small;
}

.unit_detail {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #660000;
	border-spacing: 0px;
	border-collapse: collapse;
}

.unit_detail tr:HOVER {
	background-color: #000000;
	cursor: auto;
}

.unit_detail td {
	border-collapse: collapse;
}

.datal {
	font-size: x-small;
}

.dataj {
	font-size: x-small;
}

.unit_logo_large {
	width: 220px;
	height: 220px;
}

.pseudo_link {
	cursor: pointer;
	color: #8080c0;
}

.pseudo_link:hover {
	color: #c0c010;
}

.loginBoxStatus {
	color: #F04040;
}