.starmapOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
}

.starmapUI {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 20;
    pointer-events: none;
}

.starmapContainer {
    position: relative;
    padding: 0px;
    height: 800px;
}

.starmap {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: wheat;
}

.planetNameLabel {
    color: white;
    position: absolute;
    font-size: smaller;
    font-family: arial, helvetica, verdana;
}

.planetBrief {
    color: white;
    position: absolute;
    border: solid 1px white;
    font-family: arial, helvetica, verdana;
    font-size: smaller;
    background-color: darkblue;
}

/* the main site them does not actually have styles for selects... */

select, option {
    color: black;
}

input[type=text] {
    color: black;
}

input[type=password] {
    color: black;
}

.planetDetailEnabled {
    color: white;
}

.planetDetailDisabled {
    color: grey;
}