<nav class="navbar navbar-default nbt-base nbt-nav-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">

            <a href="#" class="navbar-left"><img class="header-logo" data-ng-src="{{getCurrentLeagueLogoSmall()}}"></a>

            <ul class="nav navbar-nav nbt-base">
                <li ng-class="{active: page==='index'}">
                    <a href="#">Home</a>
                </li>
                <li ng-show="isAdmin()" class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin Tools<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="">Combat Units</a></li>
                    </ul>
                </li>
                <li ng-class="{active: page==='about'}">
                    <a href="/about.html">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()">
                    <a href="#" data-toggle="modal" data-target="#signinModal">Sign In</a>
                </li>

                <li ng-hide="isLoggedIn()">
                    <a href="#" data-toggle="modal" data-target="#registerModal">Register</a>
                </li>

                <li ng-show="isLoggedIn()">
                    <a onmouseover="" style="color: white">Logged in as: {{getUsername()}}</a>
                </li>

                <li ng-show="isLoggedIn()">
                    <a href="#" ng-click="signOut()">(Sign Out)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
