<nav class="navbar navbar-default navbar-fixed-top nbt-base">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">NetBattleTech</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: page==='index'}">
                    <a href="#">Home</a>
                </li>
                <li ng-class="{active: page==='about'}">
                    <a href="/about.html">About</a>
                </li>
                <li ng-class="{active: page==='starmap'}">
                    <a href="/starmap.html">Starmap</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()">
                    <a href="#">Sign In</a>
                </li>

                <li ng-hide="isLoggedIn()">
                    <a href="#" data-toggle="modal" data-target="#registerModal">Register</a>
                </li>

                <li ng-show="isLoggedIn()">
                    <a href="#">Username</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
