<div style="padding: 5px">
    <div style="font-weight: bolder; font-size: larger" ng-show="planet">
        <span style="padding-right: 10px">{{name}}</span>
        <span ng-show="owner">(<a href="javascript: void(0)">{{owner}}</a>)</span>
    </div>
    <div ng-show="planet">
        <span ng-class="{'planetDetailEnabled': factory, 'planetDetailDisabled': !factory}">Factory</span>
        &nbsp; | &nbsp;
        <span ng-class="{'planetDetailEnabled': chargeStation, 'planetDetailDisabled': !chargeStation}">Charge Station</span>
        &nbsp; | &nbsp;
        <span ng-class="{'planetDetailEnabled': capital, 'planetDetailDisabled': !capital}">Capital Planet</span>
    </div>
    <div class="planetDetail listing">
        <table ng-show="detail.hasPlanets()">
            <tr class="planetDetail headerRow">
                <th class="planetDetail cell"></th>
                <th class="planetDetail cell">Planet</th>
                <th class="planetDetail cell">Distance</th>
                <th class="planetDetail cell">Owner</th>
            </tr>
            <tbody ng-repeat="planet in planets" ng-class="{'planetDetailCanJump': detail.canJump(planet), 'planetDetailActiveBattle': planet.planet.battleId}">
                <tr class="planetDetail row" ng-click="detail.onDetailRowClick(planet)" ng-class="{'clickable': detail.canExpand(planet)}">
                    <td class="planetDetail cell">{{planet.planet.name}}</td>
                    <td class="planetDetail cell">{{planet.radius.toFixed(2)}}</td>
                    <td class="planetDetail cell">{{planet.planet.ownerName}}</td>
                </tr>

                <!-- optional detail inset -->
                <tr class="planetDetail row insetContainer" ng-show="detail.shouldShowDetailInset(planet.planet.id)">
                    <td colspan="3" class="planetDetail cell insetSection">
                        <!-- shows battle details only when planet has a battle on it -->
                        <div ng-show="planet.planet.battleId">
                            <div class="bold">
                                Battle {{planet.planet.battleId}} ({{details[planet.planet.id].battle.type}})
                            </div>
                            <div class="indent">
                                <div class="bold inline">Attacker:</div>
                                <div class="inline"><a href="javascript: void(0)"  ng-click="detail.onDetailRowClick(planet)">{{details[planet.planet.id].battle.attacker.name}}</a></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>