<div ng-controller="StarmapUiController as uiController">
    <div ng-show="league">
        <div class="nbt-upper-right ui-content ui-interactive">
            <img class="nbt-pseudo-button" ng-class="{'nbt-busy-spin': $parent.mapLoading}" src="/images/refresh-32.png" alt="Reload Starmap" ng-click="onReloadStarmap()"/>
        </div>
        <div class="ui-content ui-interactive">
            <div><a href="javascript: void(0)" data-toggle="collapse" data-target="#tools">Map Tools</a></div>
            <div id="tools" class="collapse map-tools">
                <datalist id="ui-planet-search-data">
                    <option ng-repeat="planet in planetNames" data-planet-position="{{planet.position}}" value="{{planet.name}}">{{planet.owner}}</option>
                </datalist>
                <div class="ui-contentItem">
                    <input id="ui-planet-search" list="ui-planet-search-data" ng-model="searchText" type="search" autocomplete="on" placeholder="Find a planet...">
                    <input type="button" ng-click="onFindPlanet()" value="Find">
                </div>
                <br>
                <div class="ui-contentitem">
                    <div><a href="javascript: void(0)" data-toggle="collapse" data-target="#legend">Map Legend</a></div>
                    <ul id="legend" class="collapse">
                        <li style="list-style: none"><img src="/images/red-circle-64.png" width="10" height="10">&nbsp;Battle In Progress</li>
                        <li style="list-style: none"><img src="/images/green-circle-64.png" width="10" height="10">&nbsp;Combat Units</li>
                        <li style="list-style: none"><img src="/images/blue-circle-64.png" width="10" height="10">&nbsp;Jumpships</li>
                        <li style="list-style: none"><img src="/images/magenta-circle-64.png" width="10" height="10">&nbsp;Faction Capital</li>
                        <li style="list-style: none"><img src="/images/cyan-circle-64.png" width="10" height="10">&nbsp;Dropships</li>
                        <li style="list-style: none"><img src="/images/yellow-circle-64.png" width="10" height="10">&nbsp;Charge Station</li>
                        <li style="list-style: none"><img src="/images/white-circle-64.png" width="10" height="10">&nbsp;Factory</li>
                    </ul>
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.showCapitalPlanets">Capital Planets
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.showChargeStations">Charge Stations
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.showFactories">Factories
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.showBattles">Battles
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.showJumpships">Jumpships
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.showDropships">Dropships
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.showCombatUnits">Combat Units
                </div>
                <br>
                <div class="ui-contentItem">
                    <input type="checkbox" ng-model="$parent.displaySectorBounds">Sector Boundaries
                </div>

                <div ng-show="showAdminTools()" class="nbt-highlight">
                    <div class="ui-contentItem nbt-para">
                        <input type="checkbox" ng-model="$parent.editMode">Edit Map
                    </div>

                    <div class="ui-contentItem nbt-para" ng-show="$parent.selectedPlanets.length > 0">
                        <div>{{$parent.selectedPlanets.length}} Planet(s) Selected</div>
                        <div>
                            Sector:
                            <button type="button" class="btn btn-primary btn-xs" ng-click="onCreateSector()">Create</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="onEditSector()">Edit</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="onDeleteSector()">Delete</button>
                            Capital:&nbsp;<select ng-model="selectedSectorCapital">
                            <option ng-repeat="planet in $parent.selectedPlanets" value="{{planet.id}}">{{planet.name}}</option>
                        </select>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="onChangeOwner()">Transfer Selected To: </button>
                            &nbsp;<select ng-model="selectedOwner">
                            <option ng-repeat="faction in factions" value="{{faction}}">{{faction.name}}</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
