<div class="faction-signup-tip" style="display: none">
    <h5 class="nbt-h5">Faction Signup</h5>
    <div class="nbt-rules-para">
        In order to sign up for a faction, you must first have registered an account with the NBT Automation (see Register
        link above) and be logged into that account. Then you will be able to view the signup form in the Factions listing
        and submit an application for a faction. <span class="nbt-bold">You may only have one application in progress at a time, so if you have
        additional choices for faction, you should list those in the Comments field on the application form.</span>
    </div>
</div>

<div id="factionsModal" class="modal fade" tabindex="-1" role="dialog" ng-controller="FactionListingController as factionListingController">
    <div class="modal-dialog modal-lg with-border">
        <div class="modal-content nbt-base">
            <div class="modal-header nbt-modal-header">
                <h4 class="modal-title text-center">{{league.name()}} Factions</h4>
            </div>
            <div ng-hide="showApplyToggle && canApply()">
                <a href="javascript: void(0)" data-toggle="popover" data-contentref=".faction-signup-tip">How can I apply for a faction?</a>
            </div>
            <div class="modal-body nbt-modal-body">
                <div ng-show="showApplyToggle && canApply()"><input type="checkbox" ng-model="showApplyForm">&nbsp; I wish to apply to a faction on behalf of my team (Vacant factions only)</div>

                <div ng-show="showApplyForm" style="padding: 15px;" class="container col-md-12">
                    <div class="row">
                        <div class="col-md-4 nbt-right-justified" ng-class="{'nbt-error': nameError}">Your Team's Name</div>
                        <div class="col-md-8"><input type="text" size="40" ng-model="applicationData.name" placeholder="(required) Your team's name"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 nbt-right-justified">Your Team's In-Game Tags</div>
                        <div class="col-md-8"><input type="text" size="40" ng-model="applicationData.tags" placeholder="(optional) Your team's in-game tags"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 nbt-right-justified" ng-class="{'nbt-error': pilotCountError}">Team Active Pilot Count</div>
                        <div class="col-md-8"><input style="color: black" type="number" min="{{league.minPilotCount}}" ng-model="applicationData.pilotCount"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 nbt-right-justified" ng-class="{'nbt-error': geoError}">Team Geographic Area(s) (at least one required)</div>
                        <div class="col-md-8">
                            <div><input type="checkbox" value="NA" ng-model="geoNA">North American</div>
                            <div><input type="checkbox" value="EU" ng-model="geoEU">European</div>
                            <div><input type="checkbox" value="AP" ng-model="geoAP">Oceanic/Asia-Pacific</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 nbt-right-justified">Additional Comments</div>
                        <div class="col-md-8">
                            <textarea
                                    cols="40"
                                    rows="6"
                                    ng-model="applicationData.comments"
                                    style="color: black"
                                    placeholder="(optional) Any additional comments you have about your team or your application, including additional faction choices">
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="applicationData.acceptedToS">&nbsp; I have read and
                            understand the rules and requirements to join the {{league.name()}} league and agree to
                            abide by them at all times while participating in league activities.
                            <span class="nbt-important">You must check this box to reveal the Apply buttons in the
                            faction listing below.</span>
                        </div>
                        <div class="col-md-3">&nbsp;</div>
                    </div>
                </div>

                <div class="container col-md-12">
                    <div class="row">
                        <div class="col-md-5 bold">Name</div>
                        <div class="col-md-3 bold">Type</div>
                        <div class="col-md-2 bold">Status</div>
                        <div class="col-md-2 bold">Application</div>
                    </div>

                    <div class="row nbt-hover-highlight" ng-repeat="faction in factions">
                        <div class="col-md-5">{{faction.displayName}}</div>
                        <div class="col-md-3">{{faction.class}}</div>
                        <div class="col-md-2">{{faction.status}}</div>
                        <div class="col-md-2">
                            <button type="button"
                                    class="btn btn-primary btn-xs"
                                    ng-show="showApplyButtons && showApplyForm && applicationData.acceptedToS && canApplyToFaction(faction)"
                                    ng-click="apply(faction)">
                                Apply
                            </button>
                            <div ng-show="faction.appStatus" class="nbt-info">{{faction.appStatus}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
