<script src="/js/nbt/controller/battles.js"></script>
<div id="battlesModal" class="modal fade" tabindex="-1" role="dialog" ng-controller="BattleController as battleController">
    <div class="modal-dialog modal-lg with-border">
        <div class="modal-content">
            <div class="modal-header nbt-base nbt-modal-header">
                <h4 class="modal-title text-center">{{faction.displayName}} Battles</h4>
            </div>
            <div class="modal-body nbt-base nbt-modal-body">
                <div>
                    <span><input type="checkbox" ng-model="active">Active Only</span>
                    <!--<span><input type="checkbox" ng-model="all">All League Battles</span>-->
                </div>
                <div class="container col-md-12">
                    <div class="row">
                        <div class="col-md-1"><span class="nbt-bold">ID</span></div>
                        <div class="col-md-2"><span class="nbt-bold">Type</span></div>
                        <div class="col-md-3"><span class="nbt-bold">Sector</span></div>
                        <div class="col-md-2"><span class="nbt-bold">Attacker</span></div>
                        <div class="col-md-2"><span class="nbt-bold">Launched</span></div>
                        <div class="col-md-1"><span class="nbt-bold">Status</span></div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" ng-repeat="battle in battles">
                        <div class="col-md-1">{{battle.id}}</div>
                        <div class="col-md-2">{{battle.type}}</div>
                        <div class="col-md-3"><a class="ui-interactive" ng-click="onSectorClicked(battle.sector)">{{battle.sector.name}} ({{battle.sector.owner.shortName}})</a></div>
                        <div class="col-md-2">{{battle.attacker.displayName}}</div>
                        <div class="col-md-2">{{battle.attackDate | date:'short'}}</div>
                        <div class="col-md-1">{{battle.status}}</div>
                        <div class="col-md-1">
                            <button type="button"
                                    title="Log drops and/or report this battle"
                                    class="btn btn-xs btn-primary"
                                    ng-click="report(battle)"
                                    ng-show="battle.status==='Forcedec'||battle.status==='Completed'||battle.status==='Confirmed'"
                                    data-dismiss="modal"
                                    data-toggle="modal"
                                    data-target="#trackerModal">
                                Report
                            </button>
                            <button type="button"
                                    title="The battle needs the sector planet order selected by the attacker"
                                    class="btn btn-xs btn-primary"
                                    ng-click="initialize(battle)"
                                    ng-show="battle.status==='Initialize'&&faction.id===battle.attacker.id">
                                Initialize
                            </button>
                            <button type="button"
                                    title="Reset the battle to its 'Drop 1' Forcedec state"
                                    class="btn btn-xs btn-primary"
                                    ng-click="reset(battle)"
                                    ng-show="battle._links.reset">
                                Reset
                            </button>
                            <button type="button"
                                    title="If both factions indicate 'Ready' prior to the reinforcement timeout, the battle forcedec will be generated and the battle can be fought and logged immediately"
                                    class="btn btn-xs"
                                    ng-class="{'btn-primary': !battle.ready, 'btn-success': battle.ready}"
                                    ng-click="readyUp(battle)"
                                    ng-show="battle.status==='Pending'">
                                Ready Up!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
