<div class="faction-signup-tip" style="display: none">
    <h5 class="nbt-h5">Faction Signup</h5>
    <div class="nbt-rules-para">
        In order to sign up for a faction, you must first have registered an account with the NBT Automation (see Register
        link above) and be logged into that account. Then you will be able to view the signup form in the Factions listing
        and submit an application for a faction. <span class="nbt-bold">You may only have one application in progress at a time, so if you have
        additional choices for faction, you should list those in the Comments field on the application form.</span>
    </div>
</div>

<div class="help-faction-diplomacy" style="display: none">
    <h5 class="nbt-h5">Faction Diplomacy</h5>
    <div class="nbt-rules-para">
        Lists the factions with which this faction has a non-neutral relationship. Factions not listed here are neutral
        with this faction.
    </div>
</div>

<div class="help-faction-roster" style="display: none">
    <h5 class="nbt-h5">Faction Roster</h5>
    <div class="nbt-rules-para">
        Faction admins are listed in gold text; all others are listed in white.
    </div>
</div>

<div class="help-faction-defends" style="display: none">
    <h5 class="nbt-h5">Faction Defends</h5>
    <div class="nbt-rules-para">
        If the label for this value is red, the faction cannot be attacked (all of their defend slots are currently
        filled). If you are planning to attack this faction, you will need to wait until at least one of their current
        active defends is completed.
    </div>
</div>

<div class="help-faction-battles" style="display: none">
    <h5 class="nbt-h5">Faction Battle History</h5>
    <div class="nbt-rules-para">
        Brief battle history of this faction. Grayed-out battles are completed, battles in white are ongoing.
    </div>
</div>

<div id="factionsModal" class="modal fade" tabindex="-1" role="dialog" ng-controller="FactionListingController as factionListingController">
    <div class="modal-dialog modal-lg with-border nbt-modal-wide">
        <div class="modal-content nbt-base">
            <!-- Header -->
            <div class="modal-header nbt-modal-header">
                <div ng-hide="faction">
                    <h4 class="modal-title text-center">{{league.name}} Factions</h4>
                </div>
                <div ng-show="faction">
                    <span style="float: left">
                        <a class="ui-interactive" ng-click="onBack()">
                            <img class="nbt-pseudo-button" src="../images/back.png"/>
                        </a>
                    </span>
                    <h4 class="modal-title text-center">{{faction.displayName}} - Details</h4>
                </div>
            </div>
            <div ng-hide="showApplyToggle && canApply() || faction">
                <a class="ui-interactive" data-toggle="popover" data-contentref=".faction-signup-tip">How can I apply for a faction?</a>
            </div>

            <!-- Body -->
            <div class="modal-body nbt-modal-body">
                <div ng-hide="faction">
                    <div ng-show="showApplyToggle && canApply()"><input type="checkbox" ng-model="showApplyForm">&nbsp; I wish to apply to a faction on behalf of my team (Vacant factions only)</div>

                    <div ng-show="showApplyForm" style="padding: 15px;" class="container col-md-12">
                        <div class="row">
                            <div class="col-md-4 nbt-right-justified" ng-class="{'nbt-error': nameError}">Your Team's Name</div>
                            <div class="col-md-8"><input type="text" size="40" ng-model="applicationData.name" placeholder="(required) Your team's name"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 nbt-right-justified" ng-class="{'nbt-error': tagsError}">Your Team's In-Game Tags</div>
                            <div class="col-md-8"><input type="text" size="40" maxlength="8" ng-model="applicationData.tags" placeholder="(optional) Max length: 8 characters"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 nbt-right-justified" ng-class="{'nbt-error': pilotCountError}">Team Active Pilot Count</div>
                            <div class="col-md-8"><input type="number" min="{{league.minPilotCount}}" ng-model="applicationData.pilotCount"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 nbt-right-justified" ng-class="{'nbt-error': geoError}">Team Geographic Area(s) (at least one required)</div>
                            <div class="col-md-8">
                                <div><input type="checkbox" value="NA" ng-model="geoNA">&nbsp;North American</div>
                                <div><input type="checkbox" value="EU" ng-model="geoEU">&nbsp;European</div>
                                <div><input type="checkbox" value="AP" ng-model="geoAP">&nbsp;Oceanic/Asia-Pacific</div>
                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                We understand that not everyone who is interested in NBT is able to field a full team for a
                                particular faction. Additionally, scheduling with teams in other geographic regions could be
                                easier if a faction is populated by teams from different regions. If you are willing to share
                                a faction with other interested teams, NBT can help facilitate that conversation.
                            </div>
                            <div class="col-md-8">
                                <div><input type="checkbox" ng-model="applicationData.collaborate">&nbsp;I am willing to lead a shared faction, or
                                    participate in a faction led by another team</div>
                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Whether or not you are interested in sharing a faction with another team, can we show your
                                team tags in the faction listing, so that others know you have interest in a particular faction?
                                If you decline, your application will show up, but masked as
                                <span style="white-space: nowrap">&lt;?&gt;</span> in the listing.
                            </div>
                            <div class="col-md-8">
                                <div><input type="checkbox" ng-model="applicationData.showPublic">&nbsp;Yes, you may show that we have applied</div>
                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="col-md-4 nbt-right-justified">Additional Comments</div>
                            <div class="col-md-8">
                        <textarea
                                cols="40"
                                rows="6"
                                ng-model="applicationData.comments"
                                style="color: black"
                                placeholder="(optional) Any additional comments you have about your team or your application, including additional faction choices">
                        </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">&nbsp;</div>
                            <div class="col-md-6">
                                <input type="checkbox" ng-model="applicationData.acceptedToS">&nbsp; I have read and
                                understand the rules and requirements to join the {{league.name}} league and agree to
                                abide by them at all times while participating in league activities.
                                <span class="nbt-important">You must check this box to reveal the Apply buttons in the
                        faction listing below.</span>
                            </div>
                            <div class="col-md-3">&nbsp;</div>
                        </div>
                    </div>

                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-md-4 bold">Name</div>
                            <div class="col-md-3 bold">Type</div>
                            <div class="col-md-1 bold">Status</div>
                            <div class="col-md-1 bold">Apply</div>
                            <div class="col-md-2 bold nbt-centered">Applications &amp; Teams</div>
                        </div>

                        <div class="row nbt-hover-highlight" ng-repeat="faction in factions">
                            <div class="col-md-4">
                                {{faction.displayName}}
                                <span class="ui-interactive" ng-click="onDetail(faction)" style="float: right" title="View faction details and contact information">
                            <img src="../../images/forward.png" height="16" width="16"/>
                        </span>
                            </div>
                            <div class="col-md-3">{{faction.class}}</div>
                            <div class="col-md-1">{{faction.status}}</div>
                            <div class="col-md-1">
                                <button type="button"
                                        class="btn btn-xs"
                                        ng-class="{'btn-primary': !formError, 'btn-danger': formError}"
                                        ng-show="showApplyButtons && showApplyForm && applicationData.acceptedToS && faction._links.apply"
                                        ng-click="apply(faction)">
                                    Apply
                                </button>
                                <span ng-show="showApplyForm && applicationData.acceptedToS && faction.application">
                        <button type="button"
                                title="Save changes and close the application form"
                                class="btn btn-xs"
                                ng-class="{'btn-primary': !formError, 'btn-danger': formError}"
                                ng-click="update(faction)">
                            Update
                        </button>
                        <button type="button"
                                class="btn btn-xs"
                                title="Close the form without saving changes"
                                ng-class="{'btn-primary': !formError, 'btn-danger': formError}"
                                ng-click="cancel(faction)">
                            Cancel
                        </button>
                        <button type="button"
                                title="Withdraw your application from the league"
                                class="btn btn-xs"
                                ng-class="{'btn-primary': !formError, 'btn-danger': formError}"
                                ng-click="cancelApplication(faction)">
                            Cancel Application
                        </button>
                        </span>
                                <div ng-show="faction.application.status!=='Resolved' && !showApplyForm" class="nbt-info">
                                    <a href="javascript: void(0)" title="Click to revise your application or submit for a different faction" ng-click="edit(faction)">{{faction.application.status}}</a>
                                </div>
                            </div>
                            <div class="col-md-2 nbt-centered">
                                <span ng-show="faction.factionStatus.id===1">{{faction.pendingApplications.join(', ')}}</span>
                                <span ng-hide="faction.factionStatus.id===1">{{faction.tags}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="faction">
                    <div class="modal-body nbt-modal-body">
                        <div class="container col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <!-- details -->
                                    <div>
                                        <div style="display: inline-block">
                                            <img src="/images/unit-logos/{{faction.id}}_200.gif">
                                        </div>
                                        <div style="display: inline-block">
                                            <div><span class="nbt-highlight nbt-bold">Class:</span> {{faction.factionClass.displayName}}</div>
                                            <div><span class="nbt-highlight nbt-bold">Status:</span> {{faction.factionStatus.displayName}}</div>
                                            <div><span class="nbt-highlight nbt-bold">W/L:</span> {{faction.wins}} - {{faction.losses}}</div>
                                        </div>
                                    </div>

                                    <!-- summaries/reports -->
                                    <div>
                                        <div>
                                            <span class="nbt-bold">
                                                Battles
                                                <a class="ui-interactive"
                                                   data-toggle="popover"
                                                   data-placement="auto"
                                                   data-container="body"
                                                   data-trigger="hover"
                                                   data-contentref=".help-faction-battles">
                                                    <img src="../../../images/help-16.png" height="16" width="16"/>
                                                </a>
                                            </span>
                                            <span style="margin-left: 10px" class="nbt-highlight nbt-bold">Total:</span> {{faction.battles.length}}
                                            <span style="margin-left: 10px" class="nbt-highlight nbt-bold">Active:</span> {{faction.defends + faction.attacks}}
                                            <span style="margin-left: 10px"
                                                  class="nbt-bold"
                                                  ng-class="{'nbt-highlight': faction.availableDefends > 0, 'nbt-error': faction.availableDefends <= 0}">
                                                Defends:</span> {{faction.defends}}
                                            <a class="ui-interactive"
                                               data-toggle="popover"
                                               data-placement="auto"
                                               data-container="body"
                                               data-trigger="hover"
                                               data-contentref=".help-faction-defends">
                                                <img src="../../../images/help-16.png" height="16" width="16"/>
                                            </a>
                                            <span style="margin-left: 10px" class="nbt-highlight nbt-bold">Attacks:</span> {{faction.attacks}}
                                        </div>
                                        <div id="factionBattles" class="nbt-font-s nbt-border">
                                            <div class="container col-md-12 nbt-border">
                                                <div class="row nbt-highlight">
                                                    <div class="col-md-1">ID</div>
                                                    <div class="col-md-2">Type</div>
                                                    <div class="col-md-2">Location</div>
                                                    <div class="col-md-2">Attacker</div>
                                                    <div class="col-md-2">Defender</div>
                                                    <div class="col-md-2">Outcome</div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                                <div class="row nbt-hover" ng-repeat="battle in faction.battles" ng-class="{'nbt-disabled': !battle.isActive}">
                                                    <div class="col-md-1">{{battle.id}}</div>
                                                    <div class="col-md-2">{{battle.type}}</div>
                                                    <div class="col-md-2">{{battle.sector.name}}</div>
                                                    <div class="col-md-2">{{battle.attacker.displayName}}</div>
                                                    <div class="col-md-2">{{battle.sector.owner.displayName}}</div>
                                                    <div class="col-md-2">{{battle.outcome}}</div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- roster cell -->
                                <div class="col-md-3">
                                    <div class="nbt-bold">
                                        Roster: {{faction.roster.length}} pilots
                                        <a class="ui-interactive"
                                           data-toggle="popover"
                                           data-placement="auto"
                                           data-container="body"
                                           data-trigger="hover"
                                           data-contentref=".help-faction-roster">
                                            <img src="../../../images/help-16.png" height="16" width="16"/>
                                        </a>
                                    </div>
                                    <div class="nbt-border" style="max-height: 400px; overflow-y: auto; padding: 5px">
                                        <div ng-repeat="pilot in faction.roster"
                                             ng-class="{'nbt-highlight': pilot.admin}"
                                             class="nbt-hover">
                                            {{pilot.name}}
                                        </div>
                                    </div>

                                    <!-- diplomacy cell -->
                                    <div class="nbt-bold" style="margin-top: 10px;">
                                        Diplomacy
                                        <a class="ui-interactive"
                                           data-toggle="popover"
                                           data-placement="auto"
                                           data-container="body"
                                           data-trigger="hover"
                                           data-contentref=".help-faction-diplomacy">
                                            <img src="../../../images/help-16.png" height="16" width="16"/>
                                        </a>
                                    </div>
                                    <div class="nbt-border" style="max-height: 400px; overflow-y: auto; padding: 5px">
                                        <div ng-repeat="relationship in faction.diplomacy" class="nbt-hover">
                                            <div style="display: inline-block; width: 60%">{{relationship.ally.displayName}}</div>
                                            <div class="nbt-right-justified"
                                                 ng-class="{'nbt-error': relationship.level < 0, 'nbt-info': relationship.level > 0}"
                                                 style="display: inline-block; width: 20%">{{relationship.level}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
