<script src="/js/nbt/controller/navbar.js"></script>
<nav class="navbar navbar-default nbt-base nbt-nav-bar" ng-controller="NavbarController as navbarController" ng-cloak>
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">

            <!-- Facton logo -->
            <div class="navbar-left nbt-header-faction">
                <img ng-show="faction" class="header-logo" data-ng-src="{{faction.logoSmall._links.raw.href}}">
            </div>

            <!-- League logo -->
            <img ng-show="league" class="navbar-left header-logo" data-ng-src="{{league.logoSmall._links.raw.href}}">

            <!-- Main league tools -->
            <ul class="nav navbar-nav nbt-base">
                <li class="dropdown">
                    <a class="ui-interactive" data-toggle="dropdown" class="dropdown-toggle">League<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="league in leagues">
                            <a class="ui-interactive" ng-click="onLeagueClicked(league.id)">
                                <img class="header-logo" data-ng-src="{{league.logoSmall._links.raw.href}}">
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-show="isAdmin() && league" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle ui-interactive">Admin Tools<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="ui-interactive" data-toggle="modal" data-target="#combatUnitAdminModal">Combat Units</a></li>
                        <li><a class="ui-interactive" data-toggle="modal" data-target="#combatUnitTypeAdminModal">Combat Unit Types</a></li>
                        <li><a class="ui-interactive" data-toggle="modal" data-target="#factionApplicationsModal">Faction Applications</a></li>
                        <li><a class="ui-interactive" data-toggle="modal" data-target="#factionAdminModal">Factions</a></li>
                        <li><a class="ui-interactive" data-toggle="modal" data-target="#fundsIssuerModal">Issue Funds</a></li>
                    </ul>
                </li>

                <li ng-show="(isAdmin() || isTeamAdmin()) && league"  class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle ui-interactive">Faction Tools<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-show="faction.status==='Pending'"><a class="ui-interactive nbt-menu-item" data-cmdTarget="cmdPlanetSetup">Faction Setup</a></li>
                        <li ng-show="faction.status==='Active' || faction.status==='Semi-Active'"><a class="ui-interactive nbt-menu-item" data-toggle="modal" data-target="#battlesModal">Battles</a></li>
                        <li><a class="ui-interactive nbt-menu-item" data-toggle="modal" data-target="#rosterModal">Roster</a></li>
                        <li><a class="ui-interactive nbt-menu-item" data-cmdTarget="cmdJumpships">Jumpships</a></li>
                        <li><a class="ui-interactive nbt-menu-item" data-cmdTarget="cmdDropships">Dropships</a></li>
                        <li><a class="ui-interactive nbt-menu-item" data-cmdTarget="cmdEditFactories">Factories</a></li>
                        <li><a class="ui-interactive nbt-menu-item" data-cmdTarget="cmdLedger">Ledger</a></li>
                    </ul>
                </li>

                <li ng-show="league">
                    <a href="/rules" target="_blank">Rules</a>
                </li>

                <li ng-show="league">
                    <a class="ui-interactive" data-toggle="modal" data-target="#factionsModal">Factions</a>
                </li>

                <li ng-show="league">
                    <a class="ui-interactive" data-toggle="modal" data-target="#aboutModal">About</a>
                </li>
            </ul>

            <!-- Automation signin/registration widgets -->
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()">
                    <a class="ui-interactive" data-toggle="modal" data-target="#signinModal">Sign In</a>
                </li>

                <li ng-hide="isLoggedIn()">
                    <a class="ui-interactive" data-toggle="modal" data-target="#registerModal">Register</a>
                </li>

                <li ng-show="isLoggedIn()">
                    <a class="ui-interactive" onmouseover="" style="color: white">Logged in as: <span ng-bind="getUsername()"></span></a>
                </li>

                <li ng-show="isLoggedIn()">
                    <a class="ui-interactive" ng-click="signOut()">(Sign Out)</a>
                </li>

                <li ng-show="isLoggedIn()">
                    <a class="ui-interactive" data-toggle="modal" data-target="#profileModal">
                        <img class="nbt-pseudo-button" src="/images/profile-32.png" height="32" width="32"/>
                    </a>
                </li>

                <li class="dropdown" ng-show="alerts.length">
                    <a class="nbt-pseudo-button" data-toggle="dropdown" class="dropdown-toggle">
                        <img src="../images/alert.png" />
                        <div ng-show="newAlertCount" class="nbt-alert-count">{{newAlertCount}}</div>
                    </a>
                    <ul class="dropdown-menu nbt-alerts nbt-font-s">
                        <li ng-repeat="alert in alerts" class="nbt-alert nbt-hover">
                            <!-- alert notifications -->
                            <div ng-show="alert.type.id===1" >
                                <div>
                                    <div class="nbt-highlight">{{alert.type.name}}:</div>
                                    <span>{{alert.text}}</span>
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-xs" ng-click="onAlertAction($event, alert)" data-action="accept">Accept</button>
                                    <button class="btn btn-primary btn-xs" ng-click="onAlertAction($event, alert)" data-action="decline">Decline</button>
                                </div>
                            </div>

                            <div ng-show="alert.type.id===2" >
                                <div>
                                    <span style="float: right; padding: 3px" class="ui-interactive" ng-click="onDismissAlert(alert)">
                                        <img src="../images/cancel16.png" height="16" width="16"/>
                                    </span>
                                    <div class="nbt-highlight">{{alert.type.name}}:</div>
                                    <span>{{alert.text}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
