<script src="/js/nbt/controller/planet-setup.js"></script>
<div id="planetSetupDialog" class="nbt-modeless" ng-show="show" ng-controller="PlanetSetupController" ng-cloak>
    <h5 class="nbt-h5 header">Planet Setup - {{faction.displayName}}<span ng-show="planet">&nbsp;({{planet.name}})</span><span class="nbt-close-dialog" style="float: right; cursor: pointer">&#10006;</span></h5>
    <div class="content nbt-base" style="overflow-y: auto; height: calc(100%  - 35px)">
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <span ng-class="{'nbt-error': factionSetup.combatUnitLimitRemaining < 0}">Combat Units: {{factionSetup.combatUnitLimitRemaining|number}}&nbsp;{{factionSetup.combatUnitLimitUnits}}<span ng-hide="factionSetup.combatUnitLimitUnits < 0"> Remaining</span></span>
                </div>
                <div class="col-md-3">
                    <span ng-class="{'nbt-error': factionSetup.industryLimitRemaining < 0}">Industry: {{factionSetup.industryLimitRemaining|number}}&nbsp;cbills<span ng-hide="factionSetup.industryLimitRemaining < 0"> Remaining</span></span>
                </div>
                <div class="col-md-3">
                    <span ng-class="{'nbt-error': factionSetup.dropshipLimitRemaining < 0}">Dropships: {{factionSetup.dropshipLimitRemaining|number}}&nbsp;Tons<span ng-hide="factionSetup.dropshipLimitRemaining < 0"> Remaining</span></span>
                </div>
                <div class="col-md-3">
                    <span ng-class="{'nbt-error': factionSetup.jumpshipLimitRemaining < 0}">Jumpships: {{factionSetup.jumpshipLimitRemaining|number}}&nbsp;Tons<span ng-hide="factionSetup.jumpshipLimitRemaining < 0"> Remaining</span></span>
                </div>
            </div>
            <hr>
            <div class="row" ng-show="planet">
                <div class="col-md-12">
                    <span>Planet Industry&nbsp;<input
                            type="number"
                            ng-model="planet.industry"
                            ng-change=""
                            min="{{planetSetup.autoIndustry}}"
                            max="{{factionSetup.setupLimits.maxPlanetIndustry}}"
                            style="background-color: #1d1e1f"
                            step="25000000"><span ng-show="planet">&nbsp;(Min: {{planetSetup.autoIndustry|number}})</span>
                    </span>
                </div>
            </div>
            <div style="padding: 5px; overflow-x: hidden;">
                <div class="row" ng-show="planet" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div style="background-color: lightgray; color: #202020;">
                            <span style="margin-left: 5px;">Combat Units On {{planet.name}}</span>
                            <ul style="-webkit-padding-start: 5px">
                                <li style="list-style: none" ng-repeat="(id, summary) in planetSetup.combatUnitSummary">
                                    <input type="number" min="0" size="3" style="width: 3em" ng-model="summary.count">&nbsp;<span>{{summary.template.name}}</span>
                                    <span
                                            class="nbt-pseudo-button"
                                            data-cmd="cmdDeleteCombatUnit"
                                            data-target="{{id}}"
                                            style="float: right; margin-right: 5px;">
                                        <img src="../images/delete-16.png" height="16" width="16"/>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 nbt-align-middle" style="padding: 0 0 5px 0">
                        <div class="nbt-image-button-sm nbt-pseudo-button" style="margin: auto" data-cmd="cmdAddCombatUnits"><img title="Add selected combat unit(s) to planet" src="../images/move-left.png" height="24" width="32"/></div>
                    </div>
                    <div class="col-md-5">
                        <div style="width: 90%; padding: 5px; background-color: lightgray; color: #202020;">
                            <div >Combat Units Available</div>
                            <select style="width:100%" size="10" multiple ng-model="selectedCombatUnits" ng-options="unit.name for unit in factionSetup.availableCombatUnits"></select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="planet" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div style="background-color: lightgray; color: #202020;">
                            <span style="margin-left: 5px;">Dropships On {{planet.name}}</span>
                            <ul style="-webkit-padding-start: 5px">
                                <li style="list-style: none" ng-repeat="(id, summary) in planetSetup.dropshipSummary">
                                    <input type="number" min="0" size="3" style="width: 3em" ng-model="summary.count">&nbsp;<span>{{summary.type.name}}</span>
                                    <span
                                            class="nbt-pseudo-button"
                                            data-cmd="cmdDeleteDropship"
                                            data-target="{{id}}"
                                            style="float: right; margin-right: 5px;">
                                        <img src="../images/delete-16.png" height="16" width="16"/>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 nbt-align-middle" style="padding: 0">
                        <div class="nbt-image-button-sm nbt-pseudo-button" style="margin: auto" data-cmd="cmdAddDropships"><img title="Add selected dropship type(s) to planet" src="../images/move-left.png" height="24" width="32"/></div>
                    </div>
                    <div class="col-md-5">
                        <div style="width: 90%; padding: 5px; background-color: lightgray; color: #202020;">
                            <div >Dropship Types Available</div>
                            <select style="width:100%" multiple ng-model="selectedDropships" ng-options="dt.name for dt in factionSetup.availableDropships"></select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="planet" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div style="background-color: lightgray; color: #202020;">
                            <span style="margin-left: 5px;">Jumpships On {{planet.name}}</span>
                            <ul style="-webkit-padding-start: 5px">
                                <li style="list-style: none" ng-repeat="(id, summary) in planetSetup.jumpshipSummary">
                                    <input type="number" min="0" size="3" style="width: 3em" ng-model="summary.count">&nbsp;<span>{{summary.type.name}}</span>
                                    <span
                                            class="nbt-pseudo-button"
                                            data-cmd="cmdDeleteJumpship"
                                            data-target="{{id}}"
                                            style="float: right; margin-right: 5px;">
                                        <img src="../images/delete-16.png" height="16" width="16"/>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 nbt-align-middle" style="padding: 0">
                        <div class="nbt-image-button-sm nbt-pseudo-button" style="margin: auto" data-cmd="cmdAddJumpships"><img title="Add selected jumpship type(s) to planet" src="../images/move-left.png" height="24" width="32"/></div>
                    </div>
                    <div class="col-md-5">
                        <div style="width: 90%; padding: 5px; background-color: lightgray; color: #202020;">
                            <div >Jumpship Types Available</div>
                            <select style="width:100%" multiple ng-model="selectedJumpships" ng-options="jt.name for jt in factionSetup.availableJumpships"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centered" ng-show="planet" style="margin-top: 5px;">
                <span style="margin-right: 25px;"><a class="btn btn-info nbt-button ui-interactive" data-cmd="cmdSaveChanges" role="button">Save Changes</a></span>
                <span style="float: right" ng-show="message" ng-class="{'nbt-info': success, 'nbt-error': !success}">{{message}}</span>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
$(function() {
    var dlgs = $("#planetSetupDialog");
    dlgs.on("resize", saveModelessState)
        .on("drag", saveModelessState);
    restoreModelessState(dlgs[0]);
});
</script>