<script src="/js/nbt/controller/planet-setup.js"></script>
<div id="planetSetupDialog" class="nbt-modeless" ng-show="show" ng-controller="PlanetSetupController" ng-cloak>
    <h5 class="nbt-h5 header">
        Planet Setup - {{faction.displayName}}<span ng-show="planet">&nbsp;({{planet.name}})</span><span class="nbt-close-dialog" style="float: right; cursor: pointer">&#10006;</span>
    </h5>
    <div ng-hide="view.id==='summary'" class="content nbt-base" style="overflow-y: auto; height: calc(100%  - 35px)">
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <span>Combat Units:
                        <span ng-class="{'nbt-error': factionSetup.combatUnitLimitRemaining < 0}">{{factionSetup.combatUnitLimitRemaining|number}}&nbsp;{{factionSetup.combatUnitLimitUnits}}</span>
                        <span ng-hide="factionSetup.combatUnitLimitUnits < 0"> Remaining</span>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>Industry:
                        <span ng-class="{'nbt-error': factionSetup.industryLimitRemaining < 0}">{{factionSetup.industryLimitRemaining|number}}&nbsp;cbills</span>
                        <span ng-hide="factionSetup.industryLimitRemaining < 0"> Remaining</span>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>Dropships:
                        <span ng-class="{'nbt-error': factionSetup.dropshipLimitRemaining < 0}">{{factionSetup.dropshipLimitRemaining|number}}&nbsp;Tons</span>
                        <span ng-hide="factionSetup.dropshipLimitRemaining < 0"> Remaining</span>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>Jumpships:
                        <span ng-class="{'nbt-error': factionSetup.jumpshipLimitRemaining < 0}">{{factionSetup.jumpshipLimitRemaining|number}}&nbsp;Tons</span>
                        <span ng-hide="factionSetup.jumpshipLimitRemaining < 0"> Remaining</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">Current Ratios:</div>
                <div class="col-md-3">
                    <span class="nbt-highlight">Light/Med:</span> <span>{{factionSetup.medLightAmount/factionSetup.maxCombatUnitAmount*100|number:1}}%</span>
                </div>
                <div class="col-md-2">
                    <span class="nbt-highlight">Heavy:</span> <span ng-class="{'nbt-error': factionSetup.heavyAmount/factionSetup.maxCombatUnitAmount > 0.35}">{{factionSetup.heavyAmount/factionSetup.maxCombatUnitAmount*100|number:1}}%</span>
                </div>
                <div class="col-md-2">
                    <span class="nbt-highlight">Assault:</span> <span ng-class="{'nbt-error': factionSetup.assaultAmount/factionSetup.maxCombatUnitAmount > 0.15}">{{factionSetup.assaultAmount/factionSetup.maxCombatUnitAmount*100|number:1}}%</span>
                </div>
                <div class="col-md-3">
                    <span class="nbt-highlight">Cross-Tech:</span> <span ng-class="{'nbt-error': factionSetup.crossTechLimitRemaining < 0}">Max {{factionSetup.maxCrossTechPercent|number}}%</span>
                </div>
            </div>
            <hr>
            <div class="row" ng-hide="planet">
                <div class="col-md-12" style="color: #808080">
                    <span>No Planet Selected</span>
                    <span style="float: right">View: <select ng-model="view" ng-options="view as view.name for view in views track by view.id"></select></span>
                </div>
            </div>
            <div class="row" ng-show="planet">
                <div class="col-md-12">
                    <span>Planet Industry&nbsp;<input
                            type="number"
                            ng-model="planet.industry"
                            ng-change=""
                            min="{{planetSetup.autoIndustry}}"
                            max="{{factionSetup.setupLimits.maxPlanetIndustry}}"
                            style="background-color: #1d1e1f"
                            step="25000000"><span ng-show="planet">&nbsp;(Min: {{planetSetup.autoIndustry|number}})</span>
                    </span>
                    <span style="float: right">View: <select ng-model="view" ng-options="view as view.name for view in views track by view.id"></select></span>
                </div>
            </div>
            <div style="padding: 5px; overflow-x: hidden;">
                <div class="row" ng-show="planet" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div style="background-color: lightgray; color: #202020;">
                            <span style="margin-left: 5px;">Combat Units On {{planet.name}}</span>
                            <ul style="-webkit-padding-start: 5px">
                                <li style="list-style: none" ng-repeat="(id, summary) in planetSetup.combatUnitSummary">
                                    <input type="number" min="0" size="3" style="width: 3em" ng-model="summary.count">&nbsp;<span>{{summary.template.name}}</span>
                                    <span
                                            class="nbt-pseudo-button"
                                            data-cmd="cmdDeleteCombatUnit"
                                            data-target="{{id}}"
                                            style="float: right; margin-right: 5px;">
                                        <img src="../images/delete-16.png" height="16" width="16"/>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 nbt-align-middle" style="padding: 0 0 5px 0">
                        <div class="nbt-image-button-sm nbt-pseudo-button" style="margin: auto" data-cmd="cmdAddCombatUnits"><img title="Add selected combat unit(s) to planet" src="../images/move-left.png" height="24" width="32"/></div>
                    </div>
                    <div class="col-md-5">
                        <div style="width: 90%; padding: 5px; background-color: lightgray; color: #202020;">
                            <div >Combat Units Available (Tonnage)</div>
                            <select style="width:100%" size="10" multiple ng-model="selectedCombatUnits" ng-options="unit as unit.name+' ('+unit.tonnage+')' for unit in factionSetup.availableCombatUnits track by unit.id"></select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="planet" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div style="background-color: lightgray; color: #202020;">
                            <span style="margin-left: 5px;">Dropships On {{planet.name}}</span>
                            <ul style="-webkit-padding-start: 5px">
                                <li style="list-style: none" ng-repeat="(id, summary) in planetSetup.dropshipSummary">
                                    <input type="number" min="0" size="3" style="width: 3em" ng-model="summary.count">&nbsp;<span>{{summary.type.name}}</span>
                                    <span
                                            class="nbt-pseudo-button"
                                            data-cmd="cmdDeleteDropship"
                                            data-target="{{id}}"
                                            style="float: right; margin-right: 5px;">
                                        <img src="../images/delete-16.png" height="16" width="16"/>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 nbt-align-middle" style="padding: 0">
                        <div class="nbt-image-button-sm nbt-pseudo-button" style="margin: auto" data-cmd="cmdAddDropships"><img title="Add selected dropship type(s) to planet" src="../images/move-left.png" height="24" width="32"/></div>
                    </div>
                    <div class="col-md-5">
                        <div style="width: 90%; padding: 5px; background-color: lightgray; color: #202020;">
                            <div >Dropship Types Available (Tonnage)</div>
                            <select style="width:100%" multiple ng-model="selectedDropships" ng-options="dt as dt.name+' ('+dt.tonnage+')' for dt in factionSetup.availableDropships track by dt.id"></select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="planet" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <div style="background-color: lightgray; color: #202020;">
                            <span style="margin-left: 5px;">Jumpships On {{planet.name}}</span>
                            <ul style="-webkit-padding-start: 5px">
                                <li style="list-style: none" ng-repeat="(id, summary) in planetSetup.jumpshipSummary">
                                    <input type="number" min="0" size="3" style="width: 3em" ng-model="summary.count">&nbsp;<span>{{summary.type.name}}</span>
                                    <span
                                            class="nbt-pseudo-button"
                                            data-cmd="cmdDeleteJumpship"
                                            data-target="{{id}}"
                                            style="float: right; margin-right: 5px;">
                                        <img src="../images/delete-16.png" height="16" width="16"/>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 nbt-align-middle" style="padding: 0">
                        <div class="nbt-image-button-sm nbt-pseudo-button" style="margin: auto" data-cmd="cmdAddJumpships"><img title="Add selected jumpship type(s) to planet" src="../images/move-left.png" height="24" width="32"/></div>
                    </div>
                    <div class="col-md-5">
                        <div style="width: 90%; padding: 5px; background-color: lightgray; color: #202020;">
                            <div >Jumpship Types Available (HP/Tonnage)</div>
                            <select style="width:100%" multiple ng-model="selectedJumpships" ng-options="jt as jt.name+' ('+jt.hardpoints+' / '+jt.tonnage+')' for jt in factionSetup.availableJumpships track by jt.id"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centered" ng-show="planet" style="margin-top: 5px;">
                <span style="margin-right: 25px;"><a class="btn btn-info nbt-button ui-interactive" data-cmd="cmdSaveChanges" role="button">Save Changes</a></span>
                <span style="float: right" ng-show="message" ng-class="{'nbt-info': success, 'nbt-error': !success}">{{message}}</span>
                <div ng-show="factionSetup.errors">
                    <div class="nbt-bold">Setup Errors Detected:</div>
                    <div class="nbt-error" ng-repeat="error in factionSetup.errors">{{error}}</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="view.id==='summary'" class="content nbt-base" style="overflow-y: auto; height: calc(100%  - 35px)">
        <div class="container col-md-12">
            <div class="row nbt-centered">
                <div class="col-md-12">
                    <span style="float: left">
                        <a class="ui-interactive" ng-click="onBack()">
                            <img class="nbt-pseudo-button" src="../images/back.png"/>
                        </a>
                    </span>
                    <h4 style="display: inline-block">{{faction.displayName}} Setup Summary</h4>
                    <br>
                    <div style="display: inline-block" class="nbt-font-s">(All quantities in tons)</div>
                </div>
            </div>
            <hr style="margin: 7px 0 3px 0">
            <div class="row nbt-bold nbt-highlight">
                <div class="col-md-4">Sector</div>
                <div class="col-md-2">Industry</div>
                <div class="col-md-2">Combat Units</div>
                <div class="col-md-2">Dropships</div>
                <div class="col-md-2">Jumpships</div>
            </div>
            <div class="row nbt-hover" ng-repeat="group in planetGroups">
                <div class="col-md-4">
                    <a class="ui-interactive" ng-click="onSectorClicked(group)">
                        <span ng-show="group.closed" ng-click="onOpenGroup(group)">&#9654;</span>
                        <span ng-hide="group.closed" ng-click="onCloseGroup(group)">&#9660;</span>
                        {{group.sectorCapital.name}}
                    </a>
                </div>
                <div class="col-md-2">{{group.industry|number}}</div>
                <div class="col-md-2">{{group.combatUnits|number}}</div>
                <div class="col-md-2">{{group.dropships|number}}</div>
                <div class="col-md-2">{{group.jumpships|number}}</div>
                <div ng-repeat="planet in group.planets" ng-hide="group.closed">
                    <div class="col-md-4">
                        <span style="padding-left: 25px">
                            <a class="ui-interactive"  ng-click="onPlanetClicked(planet)">{{planet.name}}</a>
                        </span>
                    </div>
                    <div class="col-md-2">{{planet.industry|number}}</div>
                    <div class="col-md-2">{{planet.setup.combatUnits|number}}</div>
                    <div class="col-md-2">{{planet.setup.dropships|number}}</div>
                    <div class="col-md-2">{{planet.setup.jumpships|number}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
$(function() {
    var dlgs = $("#planetSetupDialog");
    dlgs.on("resize", saveModelessState)
        .on("drag", saveModelessState);
    restoreModelessState(dlgs[0]);
});
</script>