<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" ng-controller="RegistrationFormController as regForm">
    <div class="modal-dialog modal-lg with-border">
        <div class="modal-content">
            <div class="modal-header nbt-base nbt-modal-header">
                <h4 class="modal-title text-center">Account Registration</h4>
            </div>
            <div class="modal-body nbt-base">
                <div style="display: table; margin: auto" name="regForm" ng-form ng-keypress="checkEnterKey($event)">
                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-md-4 nbt-right-justified">Login:&nbsp;</div>
                            <div class="col-md-3"><input class="nbt-text-input" type="text" name="username" ng-model="username" required></div>
                            <div class="col-md-5"><span ng-show="usernameError">{{usernameError}}</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 nbt-right-justified">Password:&nbsp;</div>
                            <div class="col-md-3"><input class="nbt-text-input" type="password" name="password" ng-model="password" required ng-minlength="8"></div>
                            <div class="col-md-5"><span ng-show="passwordError">{{passwordError}}</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 nbt-right-justified">Verify Password:&nbsp;</div>
                            <div class="col-md-3"><input class="nbt-text-input" type="password" name="passwordCheck" ng-model="passwordCheck" required ng-minlength="8"></div>
                            <div class="col-md-5"><span ng-show="passwordCheckError">{{passwordCheckError}}</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 nbt-right-justified">Email Address:&nbsp;</div>
                            <div class="col-md-3"><input class="nbt-text-input" type="email" name="emailAddress" ng-model="email" required></div>
                            <div class="col-md-5"><span ng-show="emailAddressError">{{emailAddressError}}</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 nbt-right-justified">Verify Email Address:&nbsp;</div>
                            <div class="col-md-3"><input class="nbt-text-input" type="email" name="emailAddressCheck" ng-model="emailAddressCheck" required></div>
                            <div class="col-md-5"><span ng-show="emailAddressCheckError">{{emailAddressCheckError}}</span></div>
                        </div>
                    </div>

                    <div ng-hide="registrationSucceeded" style="text-align: center">
                        <!--<div style="padding-top: 8px; padding-bottom: 8px;" class="g-recaptcha centered" data-sitekey="6LcBdg0TAAAAAA9VoVkLBP1BzTWlf6Nxx-WVcQLd"></div>-->
                        <div style="padding-top: 8px; padding-bottom: 8px;" class="g-recaptcha centered" data-sitekey="6LfuYQ0TAAAAAAWcrlwapY10LWB_7lWJrsId8Gb6"></div>
                        <div style="margin: auto; padding-top: 8px; padding-bottom: 8px;">
                            <div ng-show="captchaError">{{captchaError}}</div>
                        </div>
                    </div>

                    <div ng-show="generalError" style="text-align: center; margin: auto; width: 60%; padding-top: 10px; padding-bottom: 10px;">
                        <div class="centered">
                            <span style="margin-right: 25px;" class="nbt-error">{{generalError}}</span>
                        </div>
                    </div>

                    <div ng-hide="registrationSucceeded" style="text-align: center; margin: auto; width: 60%; padding-top: 10px; padding-bottom: 10px;">
                        <div class="centered">
                            <span style="margin-right: 25px;"><a href="javascript: void(0)" ng-click="onSubmitRegistration()" class="btn btn-info nbt-button" role="button">Submit</a></span>
                            <span style="display: inline;"><a href="javascript: void(0)" ng-click="onCancelRegistration()" data-dismiss="modal" class="btn btn-info nbt-button" role="button">Cancel</a></span>
                        </div>
                    </div>

                    <div ng-show="registrationSucceeded" style="margin: auto; width: 60%; padding-top: 4px; padding-bottom: 4px;">
                        <div>
                            Account registration was successful. An account activation email has been sent to {{emailCopy}},
                            containing further account setup instructions. Please make sure any
                            spam-blocking features are set to allow emails from netbattletech.com.
                        </div>
                        <div style="margin: auto; text-align: center; padding-top: 4px;">
                            <span style="margin-right: 25px;"><a href="javascript: void(0)" ng-click="closeForm()" data-dismiss="modal">Close Form</a></span>
                        </div>
                    </div>

                    <div ng-hide="registrationSucceeded" style="text-align: center; font-size: small; width: 60%; margin: auto">
                        Notes: All fields are required. Please provide a valid email address, as
                        you will be sent a verification email containing a link to complete the signup process.
                    </div>
                    <div style="margin: auto; text-align: center; font-size: small; padding-top: 10px;"><a href="javascript: void(0)" ng-click="onPrivacy()">NBT Privacy Policy</a></div>
                    <div class="privacyPolicy" style="margin: auto; width: 60%" ng-show="privacyPolicy" ng-bind-html="privacyPolicy"></div>
                </div>
            </div>
        </div>
    </div>
</div>
