<script src="/js/nbt/controller/roster.js"></script>
<div id="rosterModal" class="modal fade" tabindex="-1" role="dialog" ng-controller="RosterController as rosterController">
    <div class="modal-dialog modal-lg with-border">
        <div class="modal-content">
            <div class="modal-header nbt-base nbt-modal-header">
                <h4 class="modal-title text-center">Faction Roster - {{faction.displayName}}</h4>
            </div>
            <div class="modal-body nbt-base nbt-modal-body">
                <div class="container col-md-12">
                    <!-- status/error message -->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 nbt-centered">
                            <span ng-show="message" ng-class="{'nbt-error': !success, 'nbt-info': success}">{{message}}</span>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <!-- column headers-->
                    <div class="row nbt-bold nbt-highlight">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">Pilot Name</div>
                        <div class="col-md-4"></div>
                    </div>

                    <!-- pilot listing -->
                    <div class="row" ng-repeat="pilot in roster">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 nbt-hover">
                            <div ng-hide="pilot.editing">
                                {{pilot.name}}
                                <span style="float: right">
                                    <a class="ui-interactive" ng-click="onEdit(pilot)"><img title="Edit Pilot Data" src="../../images/edit.png" height="16" width="16"/></a>
                                    <a class="ui-interactive" ng-click="onDelete(pilot)"><img title="Remove Pilot From Roster" src="../../images/delete.png" height="16" width="16"/></a>
                                </span>
                            </div>
                            <div ng-show="pilot.editing">
                                <input type="text" size="16" ng-model="pilot.name" ng-keypress="checkEnterKey($event, this, pilot)">
                                <span style="float: right">
                                    <a class="ui-interactive" ng-click="onApply(pilot)"><img title="Save Changes And Exit Pilot Edit Mode" src="../../images/check16.png" height="16" width="16"/></a>
                                    <a class="ui-interactive" ng-click="onCancel(pilot)"><img title="Discard Changes And Exit Pilot Edit Mode" src="../../images/cancel16.png" height="16" width="16"/></a>
                                </span>
                            </div>

                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <!-- new pilot entry -->
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a ng-hide="newPilot.editing" class="ui-interactive" ng-click="onAdd()"><img src="../../images/add-icon.png" height="16" width="16"/></a>
                            <span ng-show="newPilot.editing">
                                <textarea placeholder="Add one or more pilot names, one per line" style="width: 75%; color: black" rows="10" type="text" ng-model="newPilot.name"></textarea>
                            </span>
                            <span ng-show="newPilot.editing" style="float: right">
                                <a class="ui-interactive" ng-click="onApply(newPilot)"><img title="Save Changes And Exit Pilot Edit Mode" src="../../images/check16.png" height="16" width="16"/></a>
                                <a class="ui-interactive" ng-click="onCancel(newPilot)"><img title="Discard Changes And Exit Pilot Edit Mode" src="../../images/cancel16.png" height="16" width="16"/></a>
                            </span>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
