<script src="/js/nbt/controller/tracker.js"></script>
<div id="trackerModal" class="modal fade" tabindex="-1" role="dialog" ng-controller="TrackerController as trackerController">
    <div class="modal-dialog modal-lg with-border">
        <div class="modal-content">
            <div class="modal-header nbt-base nbt-modal-header">
                <h4 class="modal-title text-center">{{battle.type}} Tracker - {{battle.attacker.displayName}} vs. {{battle.sector.owner.displayName}}</h4>
            </div>
            <div class="modal-body nbt-base nbt-modal-body">
                <div class="container col-md-12">
                    <!-- the battle header -->
                    <div class="row">
                        <div class="col-md-3 nbt-right-justified"><img data-ng-src="{{battle.attacker.logo._links.raw.href}}"></div>
                        <div class="col-md-6 nbt-centered">
                            <div class="container col-md-12">
                                <div class="row" ng-show="battle.status==='Forcedec'">
                                    <div class="col-md-2 nbt-left-justified nbt-font-xxxl">{{battle.attackerScore}}</div>
                                    <div class="col-md-8 nbt-centered" ng-show="battle.type==='Sector Assault'">
                                        <div class="nbt-font-xl nbt-highlight">{{battle.phase}}</div>
                                        <div class="nbt-font-s">Claim {{(battle.sector.planetsInPlay + 1) / 2}} of {{battle.sector.planetsInPlay}} planets to resolve this phase.</div>
                                    </div>
                                    <div class="col-md-8 nbt-centered" ng-show="battle.type==='Sector Raid'">
                                        <div class="nbt-font-xl nbt-highlight">Credits Earned</div>
                                    </div>
                                    <div class="col-md-2 nbt-right-justified nbt-font-xxxl">{{battle.defenderScore}}</div>
                                </div>
                                <div class="row" ng-hide="battle.status==='Forcedec'">
                                    <div class="col-md-2 nbt-left-justified nbt-font-xxxl">{{battle.attackerScore}}</div>
                                    <div class="col-md-8 nbt-centered">
                                        <div class="nbt-font-xl nbt-highlight">{{battle.outcome}}</div>
                                    </div>
                                    <div class="col-md-2 nbt-left-justified nbt-font-xxxl">{{battle.defenderScore}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">ID: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.id}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">Attacker: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.attacker.displayName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">Defender: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.sector.owner.displayName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">Attack Date: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.attackDate | date:'short'}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><span ng-show="message" ng-class="{'nbt-error': !success, 'nbt-info': success}">{{message}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"><img data-ng-src="{{battle.sector.owner.logo._links.raw.href}}"></div>
                    </div>

                    <div ng-hide="battle.status==='Confirmed'">
                        <!-- header bar -->
                        <div class="nbt-drop-tracker">
                            <table class="nbt-tracker-table">
                                <!-- header row is drop number, '-' if no drop, or 'Current' for the current drop -->
                                <tr>
                                    <th>Drop</th>
                                    <th ng-repeat="drop in battle.drops">{{drop.number}}</th>
                                </tr>

                                <!-- second row is drop type, or blank if no drop -->
                                <tr ng-show="battle.type==='Sector Assault'">
                                    <td class="nbt-title-cell">Type</td>
                                    <td ng-repeat="drop in battle.drops" class="nbt-header-cell-2 nbt-bold">{{drop.type}}</td>
                                </tr>

                                <!-- third row is relative drop number, or 'Current' if it is the current drop -->
                                <tr>
                                    <td class="nbt-title-cell">Map</td>
                                    <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.mapName}}</td>
                                </tr>

                                <!-- fourth row is game mode, or '-' if no drop -->
                                <tr>
                                    <td class="nbt-title-cell">Mode</td>
                                    <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.mode}}</td>
                                </tr>

                                <!-- fifth row is drop tonnage/BV, or '-' if no drop -->
                                <tr>
                                    <td class="nbt-title-cell">{{battle.limitString}}</td>
                                    <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.upperLimit}}</td>
                                </tr>

                                <!-- sixth row is drop result (from viewer's perspective), or '-' if no/current drop -->
                                <tr>
                                    <td class="nbt-title-cell">Result</td>
                                    <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.result}}</td>
                                </tr>

                                <!-- seventh row is destroyed count (from viewer's perspective), or '-' if no/current drop -->
                                <tr>
                                    <td class="nbt-title-cell">Losses</td>
                                    <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.theirLosses}}-{{drop.myLosses}}</td>
                                </tr>
                            </table>
                        </div>

                        <!-- drop logging entry -->
                        <div class="row">
                            <!--<div class="col-md-4 nbt-right-justified">Match ID: </div>-->
                            <!--<div class="col-md-3"><input type="text" size="20" ng-model="drop.gameId" placeholder="Match ID From Game"></div>-->
                            <!--<div class="col-md-5">-->
                            <!--<button type="button"-->
                            <!--title="Log drop"-->
                            <!--class="btn btn-xs btn-primary"-->
                            <!--ng-click="logDrop()">-->
                            <!--Submit Match ID-->
                            <!--</button>-->
                            <!--</div>-->
                            <div class="col-md-12 nbt-centered">
                                <input ng-show="battle.outcome==='Pending'" ng-disabled="updating" type="text" size="20" ng-model="drop.gameId" placeholder="Match ID From Game">
                            </div>
                        </div>

                        <!-- alternate data entry -- available, used, destroyed -->
                        <div  ng-show="battle.status==='Forcedec'">
                            <div class="row">
                                <div class="col-md-12"><a style="cursor: pointer" data-toggle="collapse" data-target="#manualDropEntry">Available Units, Manual Drop Logging And Drop Calculator</a></div>
                            </div>
                            <div id="manualDropEntry" class="row collapse">
                                <!-- available -->
                                <div class="col-md-4">
                                    <h5 class="nbt-h5">Available</h5>
                                    <div style="height: 240px; overflow-y: auto; border: solid 1px #990000">
                                        <ul style="padding-left: 0">
                                            <li ng-repeat="factionUnits in factionCombatUnits" style="list-style: none; margin-left: 10px">
                                                <span class="nbt-bold nbt-highlight">{{factionUnits.name}}</span>
                                                <ul style="padding-left: 10px">
                                                    <li ng-repeat="summary in factionUnits.units"
                                                        ng-click="useUnit(summary)"
                                                        class="nbt-click-only nbt-hover"
                                                        style="list-style: none; cursor: pointer; padding-left: 10px"
                                                        ng-class="{'nbt-disabled': summary.count===0}"
                                                    >{{summary.name}}: {{summary.count}} </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- used/taken -->
                                <div class="col-md-4">
                                    <h5 class="nbt-h5">Used</h5>
                                    <div style="height: 240px; border: solid 1px #990000">
                                        <div class="nbt-bold" ng-class="{'nbt-error': usedLimitAmount>drop.upperLimit}">{{battle.limitString}}: {{usedLimitAmount}} ({{drop.upperLimit-usedLimitAmount}} remaining)</div>
                                        <ul style="padding-left: 0">
                                            <li ng-repeat="unit in usedUnits" style="list-style: none; padding-bottom: 5px">
                                            <span ng-click="unuseUnit(unit)" style="cursor: pointer;">
                                                <span class="nbt-highlight" style="padding-right: 10px">
                                                {{unit.owner.shortName}}</span>{{unit.template.name}}
                                            </span>
                                                <button style="float: right; margin-right: 5px"
                                                        class="btn btn-xs btn-primary"
                                                        ng-click="destroyUnit(unit)"
                                                        ng-show="!unit.destroyed"
                                                        title="Mark Unit As Destroyed">Destroy</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- destroyed -->
                                <div class="col-md-4">
                                    <h5 class="nbt-h5">Destroyed</h5>
                                    <div style="height: 240px; border: solid 1px #990000">
                                        <ul style="padding-left: 0">
                                            <li ng-repeat="unit in destroyedUnits"
                                                class="nbt-hover"
                                                style="list-style: none; cursor: pointer"
                                                ng-click="undestroyUnit(unit)"
                                            ><span class="nbt-highlight" style="padding-right: 10px">{{unit.owner.shortName}}</span>{{unit.template.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="raidEffects.length">
                            <div class="row">
                                <div class="col-md-1 nbt-right-justified nbt-highlight nbt-bold">Credits</div>
                                <div class="col-md-4 nbt-highlight nbt-bold">Effect</div>
                                <div class="col-md-7 nbt-highlight nbt-bold">Description</div>
                            </div>
                            <div class="row nbt-hover" ng-repeat="effect in raidEffects">
                                <div class="col-md-1 nbt-right-justified"><input type="number" min="0" ng-model="effect.credits" style="width: 90%; color: black"></div>
                                <div class="col-md-4">{{effect.name}}</div>
                                <div class="col-md-7">{{effect.description}}</div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="battle.status==='Confirmed'" class="nbt-border-n nbt-border-s">
                        <div class="row">
                            <!-- attacker's effect choices -->
                            <div class="col-md-6">
                                <div class="nbt-bold nbt-highlight nbt-centered">Attacker Effects</div>
                                <div class="container col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 nbt-bold nbt-right-justified">Credits</div>
                                        <div class="col-md-6 nbt-bold">Effect</div>
                                    </div>
                                    <div class="row" ng-repeat="effect in battle.attackerEffects">
                                        <div class="col-md-6 nbt-right-justified">{{effect.credits}}</div>
                                        <div class="col-md-6">{{effect.effect.name}}</div>
                                    </div>
                                </div>
                            </div>

                            <!-- defender's effect choices -->
                            <div class="col-md-6">
                                <div class="nbt-bold nbt-highlight nbt-centered">Defender Effects</div>
                                <div class="container col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 nbt-bold nbt-right-justified">Credits</div>
                                        <div class="col-md-6 nbt-bold">Effect</div>
                                    </div>
                                    <div class="row" ng-repeat="effect in battle.defenderEffects">
                                        <div class="col-md-6 nbt-right-justified">{{effect.credits}}</div>
                                        <div class="col-md-6">{{effect.effect.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="battle.status==='Confirmed'">
                        <div class="row" ng-show="battle.combatUnitTheft.instances">
                            <!-- available -->
                            <div class="col-md-4">
                                <h5 class="nbt-h5">Available</h5>
                                <div style="height: 240px; overflow-y: auto; border: solid 1px #990000">
                                    <ul style="padding-left: 0">
                                        <li ng-repeat="summary in battle.theftInstances"
                                            ng-click="stealUnit(summary)"
                                            class="nbt-click-only nbt-hover ui-interactive"
                                            style="list-style: none; cursor: pointer; padding-left: 10px"
                                            ng-class="{'nbt-disabled': summary.count===0}"
                                        >{{summary.name}}: {{summary.count}} </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- used/taken -->
                            <div class="col-md-4">
                                <h5 class="nbt-h5">Stolen</h5>
                                <div style="height: 240px; border: solid 1px #990000; overflow-y: auto">
                                    <div class="nbt-bold" ng-class="{'nbt-error': stolenAmount>battle.theftLimit}">{{battle.limitString}}: {{stolenAmount}} ({{battle.theftLimit - stolenAmount}} remaining)</div>
                                    <ul style="padding-left: 0">
                                        <li ng-repeat="unit in stolenUnits"
                                            style="cursor: pointer; list-style: none; padding-bottom: 5px"
                                            class="nbt-click-only nbt-hover ui-interactive"
                                            ng-click="unstealUnit(unit)">
                                            {{unit.template.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- button(s) to manage the battle manually -->
                    <div class="nbt-centered">
                        <button class="btn btn-primary"
                                ng-click="logDrop()"
                                ng-show="battle.status==='Forcedec'"
                                ng-class="{'disabled': updating}"
                                title="Log Drop">Log Drop</button>
                        <button class="btn"
                                ng-class="{'btn-primary': !battle.confirmed, 'btn-success': battle.confirmed, 'disabled': battle.updating}"
                                ng-click="confirmBattle()"
                                ng-show="battle.status==='Completed'"
                                title="Confirm the current battle and begin the post-battle logging process">Confirm Battle</button>
                        <button class="btn btn-primary"
                                ng-click="spendCredits()"
                                ng-show="battle.status==='Completed' && battle.type==='Sector Raid'"
                                title="Save or update your raid effect credit spend">Spend Credits</button>
                        <button class="btn btn-primary"
                                ng-click="commitEffects()"
                                ng-show="battle.status==='Confirmed' && battle.type==='Sector Raid'"
                                title="Commit your theft, destruction, and espionage effect and move to the next step">Commit Effects</button>
                        <button class="btn btn-primary"
                                ng-click="reloadBattle()"
                                title="Reload the current battle">Refresh</button>
                    </div>
                    <div class="row">
                        <div class="col-md-12 nbt-centered"><span ng-show="message" ng-class="{'nbt-error': !success, 'nbt-info': success}">{{message}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
