<script src="/js/nbt/controller/tracker.js"></script>
<div id="trackerModal" class="modal fade" tabindex="-1" role="dialog" ng-controller="TrackerController as trackerController">
    <div class="modal-dialog modal-lg with-border">
        <div class="modal-content">
            <div class="modal-header nbt-base nbt-modal-header">
                <h4 class="modal-title text-center">{{battle.type}} Tracker - {{battle.attacker.displayName}} vs. {{battle.sector.owner.displayName}}</h4>
            </div>
            <div class="modal-body nbt-base nbt-modal-body">
                <div class="container col-md-12">
                    <!-- the battle header -->
                    <div class="row">
                        <div class="col-md-3 nbt-right-justified"><img data-ng-src="{{battle.attacker.logo._links.raw.href}}"></div>
                        <div class="col-md-6 nbt-centered">
                            <div class="container col-md-12">
                                <div class="row">
                                    <div class="col-md-6 nbt-left-justified nbt-font-xxxl">{{battle.attackerPlanetCount}}</div>
                                    <div class="col-md-6 nbt-right-justified nbt-font-xxxl">{{battle.defenderPlanetCount}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">ID: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.id}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">Attacker: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.attacker.displayName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">Defender: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.sector.owner.displayName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 nbt-right-justified nbt-bold nbt-highlight">Attack Date: </div>
                                    <div class="col-md-6 nbt-left-justified">{{battle.attackDate | date:'short'}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"><img data-ng-src="{{battle.sector.owner.logo._links.raw.href}}"></div>
                    </div>

                    <!-- the drop ticker -->

                    <!-- header bar -->
                    <div class="nbt-drop-tracker">
                        <table class="nbt-tracker-table">
                            <!-- header row is drop number, '-' if no drop, or 'Current' for the current drop -->
                            <tr>
                                <th>Drop</th>
                                <th ng-repeat="drop in battle.drops">{{drop.number}}</th>
                            </tr>

                            <!-- second row is map name, or '-' if no drop -->
                            <tr>
                                <td class="nbt-title-cell">Type</td>
                                <td ng-repeat="drop in battle.drops" class="nbt-header-cell-2 nbt-bold">{{drop.type}}</td>
                            </tr>

                            <!-- third row is map name, or '-' if no drop -->
                            <tr>
                                <td class="nbt-title-cell">Map</td>
                                <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.mapName}}</td>
                            </tr>

                            <!-- fourth row is game mode, or '-' if no drop -->
                            <tr>
                                <td class="nbt-title-cell">Mode</td>
                                <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.mode}}</td>
                            </tr>

                            <!-- fifth row is drop tonnage/BV, or '-' if no drop -->
                            <tr>
                                <td class="nbt-title-cell">{{battle.limitString}}</td>
                                <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.upperLimit}}</td>
                            </tr>

                            <!-- sixth row is drop result (from viewer's perspective), or '-' if no/current drop -->
                            <tr>
                                <td class="nbt-title-cell">Result</td>
                                <td ng-repeat="drop in battle.drops" ng-class="{'nbt-current-drop': drop.number==='Current'}">{{drop.result}}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- drop logging entry -->
                    <div class="row">
                        <div class="col-md-4 nbt-right-justified">Match ID: </div>
                        <div class="col-md-3"><input type="text" size="20" placeholder="Match ID From Game"></div>
                        <div class="col-md-5">
                            <button type="button"
                                    title="Log drop"
                                    class="btn btn-xs btn-primary"
                                    ng-click="logGameId()">
                                Submit Game Id
                            </button>
                        </div>
                    </div>

                    <!-- alternate data entry -- available, used, destroyed -->
                    <div class="row">
                        <!-- available -->
                        <div class="col-md-4">
                            <h5 class="nbt-h5">Available</h5>
                            <div style="height: 200px; overflow-y: auto; border: solid 1px #990000">
                                <ul style="padding-left: 0">
                                    <li ng-repeat="factionUnits in factionCombatUnits" style="list-style: none; margin-left: 10px">
                                        <span class="nbt-bold nbt-highlight">{{factionUnits.name}}</span>
                                        <ul style="padding-left: 10px">
                                            <li ng-repeat="summary in factionUnits.units"
                                                ng-click="useUnit(summary)"
                                                class="nbt-click-only"
                                                style="list-style: none; cursor: pointer; padding-left: 10px"
                                                ng-class="{'nbt-disabled': summary.count===0}"
                                            >{{summary.name}}: {{summary.count}} </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- used/taken -->
                        <div class="col-md-4">
                            <h5 class="nbt-h5">Used</h5>
                            <div style="height: 200px; border: solid 1px #990000">
                                <div class="nbt-bold" ng-class="{'nbt-error': usedLimitAmount>drop.upperLimit}">{{battle.limitString}}: {{usedLimitAmount}}</div>
                                <ul style="padding-left: 0">
                                    <li ng-repeat="unit in usedUnits"
                                        style="list-style: none; cursor: pointer"
                                        ng-click="unuseUnit(unit)"
                                        ng-dblclick="destroyUnit(unit)"
                                    ><span class="nbt-highlight" style="padding-right: 10px">{{unit.owner.shortName}}</span>{{unit.template.name}}</li>
                                </ul>
                            </div>
                        </div>

                        <!-- destroyed -->
                        <div class="col-md-4">
                            <h5 class="nbt-h5">Destroyed</h5>
                            <div style="height: 200px; border: solid 1px #990000">
                                <ul style="padding-left: 0">
                                    <li ng-repeat="unit in destroyedUnits"
                                        style="list-style: none; cursor: pointer"
                                        ng-click="undestroyUnit(unit)"
                                    ><span class="nbt-highlight" style="padding-right: 10px">{{unit.owner}}</span>{{unit.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
