<div ng-controller="ControllerUserAccounts as accounts" ng-class="{'waiting': busy}">
    <table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tbody ng-repeat="user in users">
            <tr ng-click="accounts.toggleUserEdit(user)">
                <td>
                    {{user.id}}
                </td>
                <td>
                    <span ng-hide="accounts.isEditing(user)">{{user.login}}</span>
                    <span ng-show="accounts.isEditing(user)"><input type="text" ng-model="user.login"></span>
                </td>
                <td>
                    <span ng-hide="accounts.isEditing(user)">{{user.status}}</span>
                    <span ng-show="accounts.isEditing(user)">
                        <select ng-model="user.status">
                            <option ng-repeat="keyval in userStatuses" value="{{keyval.shortName}}" ng-selected="user.status===keyval.shortName">{{keyval.displayName}}</option>
                        </select>
                    </span>
                </td>
                <td>
                    <img ng-show="accounts.showEditIcon(user)" ng-click="accounts.beginEdit(user)" title="Edit user {{user.login}}" class="tool-icon" src="/images/icons/modify-15.png">
                    <img ng-show="accounts.showDeleteIcon(user)" ng-click="accounts.delete(user)" title="Delete user {{user.login}}" class="tool-icon" src="/images/icons/delete-15.png">
                    <img ng-show="accounts.showApplyIcon(user)" ng-click="accounts.applyEdit(user)" title="Apply Changes And Finish Editing {{user.login}}" class="tool-icon" src="/images/icons/apply-15.png">
                    <img ng-show="accounts.showCancelIcon(user)" ng-click="accounts.cancelEdit(user)" title="Cancel Edit (Without Saving)" class="tool-icon" src="/images/icons/cancel-15.png">
                </td>
            </tr>

            <!-- optional detail inset -->
            <tr ng-show="accounts.shouldShowDetailInset(user.id)">
                <td colspan="5">
                </td>
            </tr>
        </tbody>

        <!-- optional detail inset -->
        <tr ng-show="accounts.showAddNewUser()">
            <td colspan="5">
                <div ng-hide="accounts.showNewUserForm()">
                    <img ng-click="accounts.beginAdd()" title="Add new user" class="tool-icon" src="/images/icons/add-15.png">
                    <img ng-click="accounts.reload()" title="Reload User List" class="tool-icon" src="/images/icons/refresh-15.png">
                </div>
                <div ng-show="accounts.showNewUserForm()" >
                    <div class="bold" style="width: 100%">
                        <span>Add New User:</span>
                        <span style="float: right">
                            <img ng-click="accounts.applyAdd(user)" title="Submit New User Data" class="tool-icon" src="/images/icons/apply-15.png">
                            <img ng-click="accounts.cancelAdd(user)" title="Cancel Add (Without Applying)" class="tool-icon" src="/images/icons/cancel-15.png">
                        </span>
                    </div>
                    <table ng-form style="width: 100%">
                        <tr>
                            <td>
                                Username:
                            </td>
                            <td>
                                <input type="text" ng-model="newUser.login" placeholder="User account login" required>
                            </td>
                            <td rowspan="3">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Callsign:
                            </td>
                            <td>
                                <input type="text" ng-model="newUser.callsign" placeholder="Default callsign" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email Address:
                            </td>
                            <td>
                                <input type="text" ng-model="newUser.email" placeholder="Default email address" required>
                            </td>
                        </tr>
                    </table>
                    <div ng-show="errorMessage" class="error-message full-width">
                        {{errorMessage}}
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>