<div class="help-dropship-location" style="display: none">
    <h5 class="nbt-h5">Dropship Location</h5>
    <div class="nbt-rules-para">
        A dropship can be docked to a jumpship, or undocked and on a planet surface. For dropships that are currently
        docked to a jumpship, the Location column shows the jumpship name in brackets. Otherwise, the Location field
        contains the name of the planet on which the dropship sits. In all cases, you can click on the name to center the
        starmap on the present location of the dropship.
    </div>
</div>

<div id="dropshipsDialog" class="nbt-modeless" ng-show="show" ng-controller="DropshipsController" ng-cloak>
    <!-- dialog header -->
    <h5 class="nbt-h5 header">
        <span>Dropships - {{faction.displayName}}</span>
        <span id="cmdCloseDropshipsDialog" style="float: right; cursor: pointer">&#10006;</span>
    </h5>

    <!-- dialog body -->
    <div class="content nbt-base" style="overflow-y: auto; height: calc(100%  - 35px)">
        <div>
            <input type="checkbox" ng-model="showAlliedDropships">&nbsp;Show allied dropships
        </div>
        <div class="container col-md-12">
            <!-- the rows of data -->
            <div class="row nbt-bold">
                <div class="col-md-3">Name</div>
                <div class="col-md-3">
                    Location
                    <a class="ui-interactive" data-toggle="popover" data-placement="auto" data-container="body" data-contentref=".help-dropship-location">
                        <img src="../../../images/help-16.png" height="16" width="16"/>
                    </a>
                </div>
                <div class="col-md-2">Type</div>
                <div class="col-md-2">Capacity</div>
                <div class="col-md-2"></div>
            </div>

            <div class="row nbt-hover" ng-repeat="dropship in filteredDropships">
                <div class="col-md-3">
                    <span ng-hide="dropship.editing">{{dropship.name}} <span ng-show="dropship.owner.id!==faction.id">({{dropship.owner.shortName}})</span></span>
                    <span ng-show="dropship.editing"><input type="text" style="width: 100%" ng-model="dropship.name" ng-keypress="checkEnterKey($event, this, dropship)"></span>
                </div>
                <div class="col-md-3">
                    <span ng-show="dropship.planet"><a class="ui-interactive" title="Locate on map">{{dropship.planet.name}}</a></span>
                    <span ng-show="dropship.jumpship" ng-click="onJumpshipClick(dropship)">
                        <a class="ui-interactive" title="This jumpship is at {{dropship.jumpship.planet.name}}; locate on map">[- {{dropship.jumpship.name}} -]</a>
                    </span>
                </div>
                <div class="col-md-2">{{dropship.type.name}}</div>
                <div class="col-md-2">
                    <div ng-repeat="capacity in dropship.type.capacities">{{capacity.capacity}} {{capacity.combatUnitType.abbrev}}</div>
                </div>
                <div class="col-md-2">
                    <div ng-show="dropship.owner.id===faction.id">
                        <span ng-hide="dropship.editing">
                            <a class="ui-interactive" ng-click="onEdit(dropship)"><img src="../../images/edit.png" height="16" width="16"/></a>
                            <a ng-hide="!(identity.isSiteAdmin||identity.isLeagueAdmin)" class="ui-interactive" ng-click="onDelete(dropship)"><img src="../../images/delete.png" height="16" width="16"/></a>
                        </span>
                        <span ng-show="dropship.editing">
                            <a class="ui-interactive" ng-click="onApply(dropship)"><img src="../../images/check16.png" height="16" width="16"/></a>
                            <a class="ui-interactive" ng-click="onCancel(dropship)"><img src="../../images/cancel16.png" height="16" width="16"/></a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- status/error message -->
            <div class="row">
                <div class="col-md-12"><span style="float: right"><button class="btn btn-primary" ng-class="{'disabled': reloading}" ng-click="onRefresh()">Refresh</button></span></div>
            </div>

            <!-- status/error message -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 nbt-centered">
                    <span ng-show="message" ng-class="{'nbt-error': !success, 'nbt-info': success}">{{message}}</span>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<!-- controller module for this dialog -->
<script src="/js/nbt/controller/modeless/dropships.js"></script>

<!-- additional post-DOM-load initialization for this dialog -->
<script language="JavaScript">
    $(function() {
        var dlgs = $("#dropshipsDialog");
        dlgs.on("resize", saveModelessState)
            .on("drag", saveModelessState);
        restoreModelessState(dlgs[0]);
    });
</script>
