<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <title>NBT - NetBattleTech League Automation System - Reset Password</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/nbt.css" rel="stylesheet" />

    <!-- Javascript -->
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- BEGIN NBT style and script links -->
    <script src="/js/nbt/api.js"></script>
    <script src="/js/nbt/nbt.js"></script>
    <script src="/js/nbt/service/identity.js"></script>
    <script>
        angular
        .module('nbt.app')
        .controller('ResetPasswordController', ['$scope', '$window', '$location', 'nbtIdentity', function($scope, $window, $location, nbtIdentity) {
            var reset = function() {
                $scope.success = false;
                $scope.message = null;
                $scope.password = null;
                $scope.passwordConfirm = null;
            };

            var onSuccess = function(data) {
                reset();
                $scope.success = true;
                $scope.message = "Password change succeeded; you may now log into your account with the new password."
            };

            var onFail = function(data) {
                $scope.success = false;
                $scope.message = data.data.error + ' (' + data.data.message + ')';
            };

            var key = null;
            var search = $location.search();
            if (search) {
                if (search.recoveryKey) {
                    key = search.recoveryKey;
                }
            }

            var validateForm = function() {
                // TODO: for all of these strings, an i18n service maybe?

                // must be at least 8 characters
                if ($scope.password.length < 8) {
                    return 'Password must be at least 8 characters long';
                }

                // password needs to contain at least one of each of: uppercase, lowercase, digit, special-char
                re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\`\~\!\@\#\$\%\^\&\*\(\)]).+$/;
                if ($scope.password.search(re) < 0) {
                    return 'Password must contain at least: one lowercase, one uppercase, one digit, one special character';
                }

                // compare the two password fields for equality
                if ($scope.password !== $scope.passwordConfirm) {
                    return 'Passwords do not match';
                }

                return null;
            };

            $scope.onSubmit = function() {
                var validationError = validateForm();

                if (validationError) {
                    $scope.message = validationError;
                    $scope.success = false;
                    return;
                }

                nbtIdentity.resetPassword($scope.password, key, onSuccess, onFail);
            };

            $scope.onClose = function() {
                $window.close();
            };

            $scope.checkEnterKey = function(event) {
                var code = event.which || event.keyCode;
                if (code === 13 && $scope.password) {
                    $scope.onSubmit();
                }
            };
        }]);
    </script>
</head>
<body class="nbt-base">
    <div ng-controller="ResetPasswordController as resetController" style="margin-left: 100px; margin-top: 100px">
        <div class="container">
            <div class="row nbt-para">
                <div class="col-md-3"></div>
                <div class="col-md-6">New password must be at least 8 characters in length,
                    with a mix of upper- and lower-case characters, digits (0-9) and special characters
                    (such as @, /, ^ an so on).
                </div>
                <div class="col-md-3"></div>
            </div>

            <div ng-keypress="checkEnterKey($event)">
                <div class="row">
                    <div class="col-md-6 nbt-right-justified">New Password:</div>
                    <div class="col-md-6"><input type="password" ng-model="password"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 nbt-right-justified">Confirm Password:</div>
                    <div class="col-md-6"><input type="password" ng-model="passwordConfirm"></div>
                </div>

                <div class="row nbt-para nbt-centered" ng-show="message">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" ng-class="{'nbt-info': success, 'nbt-error': !success}">{{message}}</div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row nbt-centered nbt-para">
                    <span ng-hide="message && success"><a ng-click="onSubmit()" class="btn btn-info nbt-button ui-interactive" role="button">Submit</a></span>
                    <span ng-show="message && success"><a ng-click="onClose()" class="btn btn-info nbt-button ui-interactive" role="button">Close</a></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
