<div>
    <ul class="list-unstyled side-menu">
        <li ng-repeat="tool in tools" ng-hide="!isLoggedIn && tool.loginRequired">
            <a class="sa-side-settings" href="javascript: void(0)" title="{{tool.tooltip}}" ng-click="menu.toggle(tool.name)" style="background-image: url(../stage/{{tool.icon}});">
                <!--<span class="menu-item">{{strings.SETTINGS}}</span>-->
            </a>
        </li>
    </ul>

    <!-- slide-out drawer -->
    <div class="nbt-left-drawer" ng-class="{'opened': drawerOpened, 'closed': !drawerOpened}">
        <div class="tool-panel-label" ng-class="{'padded': drawerOpened}">{{currentToolName}}</div>

        <!-- tool UI container -->
        <div class="tool-panel-contents" ng-class="{'padded': drawerOpened}"></div>
    </div>
</div>