<div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
    <div ng-show="isLoggedIn">
        <a href="#" data-toggle="dropdown">
            <img class="profile-pic animated" src="img/profile-pic.jpg" alt="">
        </a>
        <ul class="dropdown-menu profile-menu">
            <li><a href="#">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#" ng-click="profile.onSignOut()">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
        </ul>
        <h4 class="m-0">{{displayName}}</h4>
        {{twitter}}
        <select ng-model="selectedLeague" ng-change="profile.onLeagueChanged()">
            <option ng-repeat="league in leagues" value="{{league._links.self.href}}">{{league.name}}</option>
        </select>
    </div>
    <div ng-hide="isLoggedIn">
        <div>Username:&nbsp;<input class="profileInput" type="text" ng-model="username"></div>
        <div>Password:&nbsp;<input class="profileInput" type="password" ng-model="password"></div>
        <div class="profile-menu">
            <a href="#" ng-click="profile.onSignIn()">Sign In</a>&nbsp;&nbsp;<a href="#" ng-click="profile.onRegister()">Register</a>
        </div>
    </div>
</div>