<div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
    <div ng-show="isLoggedIn">
        <a href="#" data-toggle="dropdown">
            <img class="profile-pic animated" src="img/profile-pic.jpg" alt="">
        </a>
        <ul class="dropdown-menu profile-menu">
            <li><a href="#">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#" ng-click="profile.onSignOut()">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
        </ul>
        <h4 class="m-0">{{displayName}}</h4>
        {{twitter}}
        <select ng-model="selectedLeague" ng-change="profile.onLeagueChanged()">
            <option ng-repeat="league in leagues" value="{{league._links.self.href}}">{{league.name}}</option>
        </select>
    </div>
    <div ng-hide="isLoggedIn">
        <div>Username:&nbsp;<input class="profileInput" type="text" ng-model="username"></div>
        <div>Password:&nbsp;<input class="profileInput" type="password" ng-model="password"></div>
        <div ng-show="passwordIncorrect" class="passwordIncorrect">Username not found or password incorrect!</div>
        <div class="profile-menu">
            <a href="#" ng-click="profile.onSignIn()">Sign In</a>&nbsp;&nbsp;<a href="#" ng-click="profile.onRegister()">Register</a>
        </div>
    </div>
    <div class="modalDialog modalFade" ng-class="{'fadeIn': isRegistering, 'fadeOut': !isRegistering, 'minimized onBottom': initialized===0}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="profile.onCancelRegistration()">×</button>
                    <h4 class="modal-title">New Account Registration</h4>
                </div>
                <div class="modal-body">
                    <div style="display: table; margin: auto">
                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right">Login:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="text" ng-model="username"></div>
                            <div style="display: table-cell"><span ng-show="usernameTaken">Username in use!</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right">Callsign:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="text" ng-model="callsign"></div>
                            <div style="display: table-cell"><span ng-show="usernameTaken">Callsign in use!</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right">Password:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="password" ng-model="password"></div>
                            <div style="display: table-cell"><span ng-show="passwordMismatch">Passwords do not match!</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right">Verify Password:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="password" ng-model="passwordCheck"></div>
                            <div style="display: table-cell">&nbsp;</div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right">Email Address:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="text" ng-model="emailAddress"></div>
                            <div style="display: table-cell"><span ng-show="emailInUse">Email address in use!</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right">Verify Email Address:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="text" ng-model="emailAddressCheck"></div>
                            <div style="display: table-cell"><span ng-show="emailMismatch">Email addresses do not match!</span></div>
                        </div>
                    </div>

                    <div style="margin: auto; width: 60%; padding-top: 10px; padding-bottom: 10px;">
                        <span style="padding-right: 25px;"><a href="#" ng-click="profile.onSubmitRegistration()">Submit</a></span>
                        <span><a href="#" ng-click="profile.onCancelRegistration()">Cancel</a></span>
                    </div>

                    <div style="font-size: small; width: 60%; margin: auto">
                        Notes: All fields are required. Please provide a valid email address, as
                        you will be sent a verification email containing a link to complete the signup process.
                    </div>
                    <div style="font-size: small; padding-top: 10px;"><a href="#" ng-click="profile.onPrivacy()">Privacy Policy</a></div>
                    <div class="privacyPolicy" ng-show="privacyPolicy" ng-bind-html="privacyPolicy"></div>
                </div>
            </div>
        </div>
    </div>
</div>