<div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
    <div ng-show="isLoggedIn">
        <a href="#" data-toggle="dropdown">
            <img class="profile-pic animated" src="img/profile-pic.jpg" alt="">
        </a>
        <ul class="dropdown-menu profile-menu">
            <li><a href="#">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            <li><a href="#" ng-click="profile.onSignOut()">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
        </ul>
        <h4 class="m-0">{{displayName}}</h4>
        {{twitter}}
        <select ng-model="selectedLeague" ng-change="profile.onLeagueChanged()">
            <option ng-repeat="league in leagues" value="{{league._links.self.href}}">{{league.name}}</option>
        </select>
    </div>
    <div ng-hide="isLoggedIn">
        <div>Username:&nbsp;<input class="profileInput" type="text" ng-model="username"></div>
        <div>Password:&nbsp;<input class="profileInput" type="password" ng-model="password"></div>
        <div ng-show="passwordIncorrect" class="passwordIncorrect">Username not found or password incorrect!</div>
        <div class="profile-menu">
            <a href="#" ng-click="profile.onSignIn()">Sign In</a>&nbsp;&nbsp;<a href="#" ng-click="profile.onRegister()">Register</a>
        </div>
    </div>
    <div class="modalDialog modalFade" ng-class="{'fadeIn': isRegistering, 'fadeOut': !isRegistering, 'minimized onBottom': initialized===0}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="profile.onCancelRegistration()">×</button>
                    <h4 class="modal-title">New Account Registration</h4>
                </div>
                <div class="modal-body">
                    <div style="display: table; margin: auto" name="regForm" ng-form>
                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right; padding-right: 5px;">Login:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="text" name="username" ng-model="regData.username" required></div>
                            <div style="display: table-cell; text-align: left; padding-left: 10px;"><span ng-show="usernameError">{{usernameError}}</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right; padding-right: 5px;">Callsign:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="text" name="callsign" ng-model="regData.callsign" required></div>
                            <div style="display: table-cell; text-align: left; padding-left: 10px;"><span ng-show="callsignError">{{callsignError}}</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right; padding-right: 5px;">Password:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="password" name="password" ng-model="regData.password" required ng-minlength="8"></div>
                            <div style="display: table-cell; text-align: left; padding-left: 10px;"><span ng-show="passwordError">{{passwordError}}</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right; padding-right: 5px;">Verify Password:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="password" name="passwordCheck" ng-model="passwordCheck" required ng-minlength="8"></div>
                            <div style="display: table-cell; text-align: left; padding-left: 10px;"><span ng-show="passwordCheckError">{{passwordCheckError}}</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right; padding-right: 5px;">Email Address:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="email" name="emailAddress" ng-model="regData.email" required></div>
                            <div style="display: table-cell; text-align: left; padding-left: 10px;"><span ng-show="emailAddressError">{{emailAddressError}}</span></div>
                        </div>

                        <div style="display: table-row">
                            <div style="display: table-cell; text-align: right; padding-right: 5px;">Verify Email Address:&nbsp;</div>
                            <div style="display: table-cell"><input class="profileInput" type="email" name="emailAddressCheck" ng-model="emailAddressCheck" required></div>
                            <div style="display: table-cell; text-align: left; padding-left: 10px;"><span ng-show="emailAddressCheckError">{{emailAddressCheckError}}</span></div>
                        </div>
                    </div>

                    <div ng-hide="registrationSucceeded">
                        <div style="margin: auto; padding-top: 8px; padding-bottom: 8px;" class="g-recaptcha" data-sitekey="6LcBdg0TAAAAAA9VoVkLBP1BzTWlf6Nxx-WVcQLd"></div>
                        <div style="margin: auto; padding-top: 8px; padding-bottom: 8px;">
                            <div ng-show="captchaError">{{captchaError}}</div>
                        </div>
                    </div>

                    <div ng-hide="registrationSucceeded" style="margin: auto; width: 60%; padding-top: 10px; padding-bottom: 10px;">
                        <span style="margin-right: 25px;"><a href="#" ng-click="profile.onSubmitRegistration()">Submit</a></span>
                        <span style="display: inline;"><a href="#" ng-click="profile.onCancelRegistration()">Cancel</a></span>
                    </div>

                    <div ng-show="registrationSucceeded" style="margin: auto; width: 60%; padding-top: 4px; padding-bottom: 4px;">
                        <div>
                            Account registration was successful. An account activation email has been sent to {{regData.email}},
                            containing further account setup instructions. Please make sure any
                            spam-blocking features are set to allow emails from netbattletech.com.
                        </div>
                        <div style="margin: auto; text-align: center; padding-top: 4px;">
                            <span style="margin-right: 25px;"><a href="#" ng-click="profile.closeForm()">Close Form</a></span>
                        </div>
                    </div>

                    <div ng-hide="registrationSucceeded" style="font-size: small; width: 60%; margin: auto">
                        Notes: All fields are required. Please provide a valid email address, as
                        you will be sent a verification email containing a link to complete the signup process.
                    </div>
                    <div style="margin: auto; text-align: center; font-size: small; padding-top: 10px;"><a href="#" ng-click="profile.onPrivacy()">Privacy Policy</a></div>
                    <div class="privacyPolicy" ng-show="privacyPolicy" ng-bind-html="privacyPolicy"></div>
                </div>
            </div>
        </div>
    </div>
</div>