<!DOCTYPE html>
<html ng-app="ActivateApp">
<head>
<meta charset="ISO-8859-1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<link href="css/nbt.css" rel="stylesheet" />
<title>NetBattleTech Automation - Account Activation</title>
<script>
angular.module("ActivateApp", [])
    .controller("ActivationController",  function ($scope, $http, $location) {
        this.password = null;
        this.passwordVerify = null;
        this.success = false;

        this.activate = function() {
            if (this.password !== null && this.password !== this.passwordVerify)
                alert("Passwords do not match!");
            else {
                var url = "http://" + $location.search().api + "/security/activationKey/" + $location.search().key;
                $http.put(url).
                    success(function(data) {
                    $scope.success = data;
                });
            }
        }
    });
</script>
</head>
<body>
<div ng-controller="ActivationController as activation">
    <form ng-submit="activation.activate()">
	<table>
		<tr>
			<td>Enter Password:</td> 
            <td><input type="password" ng-model="activation.password" /></td>
		</tr>
		<tr>
			<td>Enter Password (again, to verify):</td> 
            <td><input type="password" ng-model="activation.passwordVerify" /></td>
		</tr>
		<tr>
            <td colspan="2"><input type="submit" id="cmdActivate" value="Activate"/></td>
		</tr>
		<tr>
			<td colspan="2" style="display:none" id="txtMessage"></td> 
		</tr>
	</table>
    </form>
</div>
</body>
</html>
